# Agent Loan Decisioning w CSV files

In [1]:
import sys
import datetime
from datetime import date,timedelta
import numpy as np
import pandas as pd
# import camelot
import matplotlib.pyplot as plt
import logging

In [2]:
pd.set_option('display.max_columns',None)

In [3]:
logging.basicConfig(format='%(asctime)s - %(message)s', level=logging.INFO)
logging.info('Code Begin')

2023-06-06 16:03:56,587 - Code Begin

In [4]:
# sys.maxsize
# 2147483647


Qualifying Matrix

1.	Agent Length of Service - 3 months

2.	Agent Frequency of use/activity - >= 65 transactions(count) in total

3.	Agent Frequency of rebalance - >= 45 inbound(count) in total

4.	Median Cash-In for last 90 days - avg. txn amnt - ghs5000 

5.	Mode Cash-In for last 90 days - lowest amnt cash in - ghs1000 

6.	Median Cash-Out for last 90 days - avg. txn amnt - ghs5000

7.	Mode Cash-Out for last 90 days - lowest amnt cash out - ghs1000

In [5]:
table_fin = pd.read_csv(r'C:\Users\Chakdahah\benjamin_adjei_statement.csv')
table_fin.head()

,Id,External Transaction Id,Date,Status,Type,Provider Category,To Message,From,From Name,To,To Name,Initiated By,On Behalf Of,Approved By,Amount,Currency,Fee,Currency.1,Discount,Currency.2,Promotion,Currency.3,Coupon,Currency.4,Balance,Currency.5,Information
0,23515712900,NaN,4/11/2023 11:51,Successful,Cash in,NaN,Cashin To-233598355319,FRI:233248341190/MSISDN,BENJAMIN ADJEI,FRI:233598355319/MSISDN,JOSEPH KWAME FRIMPONG KESSE,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,-20.5,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,56.5,GHS,NaN
1,23515677808,NaN,4/11/2023 11:50,Successful,Cash in,NaN,Cashin To-233557245702,FRI:233248341190/MSISDN,BENJAMIN ADJEI,FRI:233557245702/MSISDN,Linda Opoku,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,-70.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,77.0,GHS,NaN
2,23515648162,NaN,4/11/2023 11:48,Successful,Cash in,NaN,Cashin To-233547877892,FRI:233248341190/MSISDN,BENJAMIN ADJEI,FRI:233547877892/MSISDN,Emmanuel Ahorgah,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,-15.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,147.0,GHS,NaN
3,23515519054,NaN,4/11/2023 11:44,Successful,Cash out,NaN,NationalId--,FRI:233543859094/MSISDN,DERRICK AHIAGBENYO,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233543859094/MSISDN,ID:233543859094/MSISDN,NaN,30.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,162.0,GHS,NaN
4,23515477521,NaN,4/11/2023 11:42,Successful,Cash out,NaN,NationalId--,FRI:233558384831/MSISDN,Patience Zionu,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233558384831/MSISDN,ID:233558384831/MSISDN,NaN,50.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,132.0,GHS,NaN

In [6]:
table_fin.head()

,Id,External Transaction Id,Date,Status,Type,Provider Category,To Message,From,From Name,To,To Name,Initiated By,On Behalf Of,Approved By,Amount,Currency,Fee,Currency.1,Discount,Currency.2,Promotion,Currency.3,Coupon,Currency.4,Balance,Currency.5,Information
0,23515712900,NaN,4/11/2023 11:51,Successful,Cash in,NaN,Cashin To-233598355319,FRI:233248341190/MSISDN,BENJAMIN ADJEI,FRI:233598355319/MSISDN,JOSEPH KWAME FRIMPONG KESSE,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,-20.5,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,56.5,GHS,NaN
1,23515677808,NaN,4/11/2023 11:50,Successful,Cash in,NaN,Cashin To-233557245702,FRI:233248341190/MSISDN,BENJAMIN ADJEI,FRI:233557245702/MSISDN,Linda Opoku,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,-70.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,77.0,GHS,NaN
2,23515648162,NaN,4/11/2023 11:48,Successful,Cash in,NaN,Cashin To-233547877892,FRI:233248341190/MSISDN,BENJAMIN ADJEI,FRI:233547877892/MSISDN,Emmanuel Ahorgah,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,-15.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,147.0,GHS,NaN
3,23515519054,NaN,4/11/2023 11:44,Successful,Cash out,NaN,NationalId--,FRI:233543859094/MSISDN,DERRICK AHIAGBENYO,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233543859094/MSISDN,ID:233543859094/MSISDN,NaN,30.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,162.0,GHS,NaN
4,23515477521,NaN,4/11/2023 11:42,Successful,Cash out,NaN,NationalId--,FRI:233558384831/MSISDN,Patience Zionu,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233558384831/MSISDN,ID:233558384831/MSISDN,NaN,50.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,132.0,GHS,NaN

In [7]:
# Assign tables into momo data variable

momo_data = table_fin
momo_data

,Id,External Transaction Id,Date,Status,Type,Provider Category,To Message,From,From Name,To,To Name,Initiated By,On Behalf Of,Approved By,Amount,Currency,Fee,Currency.1,Discount,Currency.2,Promotion,Currency.3,Coupon,Currency.4,Balance,Currency.5,Information
0,23515712900,NaN,4/11/2023 11:51,Successful,Cash in,NaN,Cashin To-233598355319,FRI:233248341190/MSISDN,BENJAMIN ADJEI,FRI:233598355319/MSISDN,JOSEPH KWAME FRIMPONG KESSE,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,-20.5,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,56.50,GHS,NaN
1,23515677808,NaN,4/11/2023 11:50,Successful,Cash in,NaN,Cashin To-233557245702,FRI:233248341190/MSISDN,BENJAMIN ADJEI,FRI:233557245702/MSISDN,Linda Opoku,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,-70.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,77.00,GHS,NaN
2,23515648162,NaN,4/11/2023 11:48,Successful,Cash in,NaN,Cashin To-233547877892,FRI:233248341190/MSISDN,BENJAMIN ADJEI,FRI:233547877892/MSISDN,Emmanuel Ahorgah,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,-15.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,147.00,GHS,NaN
3,23515519054,NaN,4/11/2023 11:44,Successful,Cash out,NaN,NationalId--,FRI:233543859094/MSISDN,DERRICK AHIAGBENYO,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233543859094/MSISDN,ID:233543859094/MSISDN,NaN,30.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,162.00,GHS,NaN
4,23515477521,NaN,4/11/2023 11:42,Successful,Cash out,NaN,NationalId--,FRI:233558384831/MSISDN,Patience Zionu,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233558384831/MSISDN,ID:233558384831/MSISDN,NaN,50.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,132.00,GHS,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6754,21823172071,NaN,2/1/2023 7:01,Successful,Cash out,NaN,NationalId--,FRI:233595281495/MSISDN,BEATRICE AKPALIGAH,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233595281495/MSISDN,ID:233595281495/MSISDN,NaN,30.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,250.75,GHS,NaN
6755,21823144046,230201MMB2187873,2/1/2023 6:59,Successful,External payment,NaN,NaN,FRI:233248341190/MSISDN,BENJAMIN ADJEI,FRI:1441002407704@ecobankpush/SP,Ecobank,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,-2000.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,220.75,GHS,NaN
6756,21822953068,NaN,2/1/2023 6:41,Successful,Cash out,NaN,NationalId--,FRI:233248527306/MSISDN,Nana Nyarko,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233248527306/MSISDN,ID:233248527306/MSISDN,NaN,500.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,2220.75,GHS,NaN
6757,21822942874,NaN,2/1/2023 6:40,Successful,Cash out,NaN,NationalId--,FRI:233550878266/MSISDN,JENNIEFER AGBASAH,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233550878266/MSISDN,ID:233550878266/MSISDN,NaN,20.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,1720.75,GHS,NaN
6758,21822900312,NaN,2/1/2023 6:35,Successful,Cash out,NaN,NationalId--,FRI:233243442321/MSISDN,Theophilus Frimpong,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233243442321/MSISDN,ID:233243442321/MSISDN,NaN,1700.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,1700.75,GHS,NaN

In [8]:
#Reading data from csv file

# momo_data = pd.read_csv(r'\Users\Chakdahah\Cleaned_Momo.csv', skipinitialspace = True)

# Clean whitespaces in colunn name and entire dataframe

momo_data =momo_data.rename(columns=lambda x: x.strip())
momo_data =momo_data.applymap(lambda x: x.strip() if isinstance(x, str) else x)

momo_data.head()

,Id,External Transaction Id,Date,Status,Type,Provider Category,To Message,From,From Name,To,To Name,Initiated By,On Behalf Of,Approved By,Amount,Currency,Fee,Currency.1,Discount,Currency.2,Promotion,Currency.3,Coupon,Currency.4,Balance,Currency.5,Information
0,23515712900,NaN,4/11/2023 11:51,Successful,Cash in,NaN,Cashin To-233598355319,FRI:233248341190/MSISDN,BENJAMIN ADJEI,FRI:233598355319/MSISDN,JOSEPH KWAME FRIMPONG KESSE,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,-20.5,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,56.5,GHS,NaN
1,23515677808,NaN,4/11/2023 11:50,Successful,Cash in,NaN,Cashin To-233557245702,FRI:233248341190/MSISDN,BENJAMIN ADJEI,FRI:233557245702/MSISDN,Linda Opoku,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,-70.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,77.0,GHS,NaN
2,23515648162,NaN,4/11/2023 11:48,Successful,Cash in,NaN,Cashin To-233547877892,FRI:233248341190/MSISDN,BENJAMIN ADJEI,FRI:233547877892/MSISDN,Emmanuel Ahorgah,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,-15.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,147.0,GHS,NaN
3,23515519054,NaN,4/11/2023 11:44,Successful,Cash out,NaN,NationalId--,FRI:233543859094/MSISDN,DERRICK AHIAGBENYO,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233543859094/MSISDN,ID:233543859094/MSISDN,NaN,30.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,162.0,GHS,NaN
4,23515477521,NaN,4/11/2023 11:42,Successful,Cash out,NaN,NationalId--,FRI:233558384831/MSISDN,Patience Zionu,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233558384831/MSISDN,ID:233558384831/MSISDN,NaN,50.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,132.0,GHS,NaN

In [9]:

# remove unwanted characters from end of column names
# mmomo_data.rename(columns=lambda x: x.strip('.'),inplace =True)

# remove all unwanted char acters in column names

momo_data.rename(columns=lambda s: s.replace(".", ""), inplace=True)

# replace whitespaces with underscore
momo_data.rename(columns=lambda s: s.replace(" ", "_"), inplace=True)

In [10]:
# rename column names here

momo_data.rename(
    columns = {'From':"FROM_NO", "From_Name":"FROM_NAME","Type":"TRANS_TYPE",
              "Amount":"AMOUNT","Initiated_By":"OVA","Date":"TRANSACTION_DATE"},
                inplace = True)
    
momo_data

,Id,External_Transaction_Id,TRANSACTION_DATE,Status,TRANS_TYPE,Provider_Category,To_Message,FROM_NO,FROM_NAME,To,To_Name,OVA,On_Behalf_Of,Approved_By,AMOUNT,Currency,Fee,Currency1,Discount,Currency2,Promotion,Currency3,Coupon,Currency4,Balance,Currency5,Information
0,23515712900,NaN,4/11/2023 11:51,Successful,Cash in,NaN,Cashin To-233598355319,FRI:233248341190/MSISDN,BENJAMIN ADJEI,FRI:233598355319/MSISDN,JOSEPH KWAME FRIMPONG KESSE,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,-20.5,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,56.50,GHS,NaN
1,23515677808,NaN,4/11/2023 11:50,Successful,Cash in,NaN,Cashin To-233557245702,FRI:233248341190/MSISDN,BENJAMIN ADJEI,FRI:233557245702/MSISDN,Linda Opoku,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,-70.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,77.00,GHS,NaN
2,23515648162,NaN,4/11/2023 11:48,Successful,Cash in,NaN,Cashin To-233547877892,FRI:233248341190/MSISDN,BENJAMIN ADJEI,FRI:233547877892/MSISDN,Emmanuel Ahorgah,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,-15.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,147.00,GHS,NaN
3,23515519054,NaN,4/11/2023 11:44,Successful,Cash out,NaN,NationalId--,FRI:233543859094/MSISDN,DERRICK AHIAGBENYO,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233543859094/MSISDN,ID:233543859094/MSISDN,NaN,30.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,162.00,GHS,NaN
4,23515477521,NaN,4/11/2023 11:42,Successful,Cash out,NaN,NationalId--,FRI:233558384831/MSISDN,Patience Zionu,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233558384831/MSISDN,ID:233558384831/MSISDN,NaN,50.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,132.00,GHS,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6754,21823172071,NaN,2/1/2023 7:01,Successful,Cash out,NaN,NationalId--,FRI:233595281495/MSISDN,BEATRICE AKPALIGAH,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233595281495/MSISDN,ID:233595281495/MSISDN,NaN,30.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,250.75,GHS,NaN
6755,21823144046,230201MMB2187873,2/1/2023 6:59,Successful,External payment,NaN,NaN,FRI:233248341190/MSISDN,BENJAMIN ADJEI,FRI:1441002407704@ecobankpush/SP,Ecobank,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,-2000.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,220.75,GHS,NaN
6756,21822953068,NaN,2/1/2023 6:41,Successful,Cash out,NaN,NationalId--,FRI:233248527306/MSISDN,Nana Nyarko,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233248527306/MSISDN,ID:233248527306/MSISDN,NaN,500.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,2220.75,GHS,NaN
6757,21822942874,NaN,2/1/2023 6:40,Successful,Cash out,NaN,NationalId--,FRI:233550878266/MSISDN,JENNIEFER AGBASAH,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233550878266/MSISDN,ID:233550878266/MSISDN,NaN,20.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,1720.75,GHS,NaN
6758,21822900312,NaN,2/1/2023 6:35,Successful,Cash out,NaN,NationalId--,FRI:233243442321/MSISDN,Theophilus Frimpong,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233243442321/MSISDN,ID:233243442321/MSISDN,NaN,1700.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,1700.75,GHS,NaN

In [11]:
momo_data["AMOUNT"] = momo_data["AMOUNT"].astype(str)

In [12]:
# remove negative sign in amount column

momo_data["AMOUNT"] = momo_data["AMOUNT"].str.replace("-","")

In [13]:
momo_data["TRANS_TYPE"] = momo_data["TRANS_TYPE"].str.upper()
momo_data["TRANS_TYPE"] = momo_data["TRANS_TYPE"].str.replace(" ","_")

In [14]:
momo_data

,Id,External_Transaction_Id,TRANSACTION_DATE,Status,TRANS_TYPE,Provider_Category,To_Message,FROM_NO,FROM_NAME,To,To_Name,OVA,On_Behalf_Of,Approved_By,AMOUNT,Currency,Fee,Currency1,Discount,Currency2,Promotion,Currency3,Coupon,Currency4,Balance,Currency5,Information
0,23515712900,NaN,4/11/2023 11:51,Successful,CASH_IN,NaN,Cashin To-233598355319,FRI:233248341190/MSISDN,BENJAMIN ADJEI,FRI:233598355319/MSISDN,JOSEPH KWAME FRIMPONG KESSE,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,20.5,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,56.50,GHS,NaN
1,23515677808,NaN,4/11/2023 11:50,Successful,CASH_IN,NaN,Cashin To-233557245702,FRI:233248341190/MSISDN,BENJAMIN ADJEI,FRI:233557245702/MSISDN,Linda Opoku,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,70.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,77.00,GHS,NaN
2,23515648162,NaN,4/11/2023 11:48,Successful,CASH_IN,NaN,Cashin To-233547877892,FRI:233248341190/MSISDN,BENJAMIN ADJEI,FRI:233547877892/MSISDN,Emmanuel Ahorgah,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,15.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,147.00,GHS,NaN
3,23515519054,NaN,4/11/2023 11:44,Successful,CASH_OUT,NaN,NationalId--,FRI:233543859094/MSISDN,DERRICK AHIAGBENYO,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233543859094/MSISDN,ID:233543859094/MSISDN,NaN,30.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,162.00,GHS,NaN
4,23515477521,NaN,4/11/2023 11:42,Successful,CASH_OUT,NaN,NationalId--,FRI:233558384831/MSISDN,Patience Zionu,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233558384831/MSISDN,ID:233558384831/MSISDN,NaN,50.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,132.00,GHS,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6754,21823172071,NaN,2/1/2023 7:01,Successful,CASH_OUT,NaN,NationalId--,FRI:233595281495/MSISDN,BEATRICE AKPALIGAH,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233595281495/MSISDN,ID:233595281495/MSISDN,NaN,30.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,250.75,GHS,NaN
6755,21823144046,230201MMB2187873,2/1/2023 6:59,Successful,EXTERNAL_PAYMENT,NaN,NaN,FRI:233248341190/MSISDN,BENJAMIN ADJEI,FRI:1441002407704@ecobankpush/SP,Ecobank,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,2000.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,220.75,GHS,NaN
6756,21822953068,NaN,2/1/2023 6:41,Successful,CASH_OUT,NaN,NationalId--,FRI:233248527306/MSISDN,Nana Nyarko,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233248527306/MSISDN,ID:233248527306/MSISDN,NaN,500.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,2220.75,GHS,NaN
6757,21822942874,NaN,2/1/2023 6:40,Successful,CASH_OUT,NaN,NationalId--,FRI:233550878266/MSISDN,JENNIEFER AGBASAH,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233550878266/MSISDN,ID:233550878266/MSISDN,NaN,20.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,1720.75,GHS,NaN
6758,21822900312,NaN,2/1/2023 6:35,Successful,CASH_OUT,NaN,NationalId--,FRI:233243442321/MSISDN,Theophilus Frimpong,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233243442321/MSISDN,ID:233243442321/MSISDN,NaN,1700.0,GHS,0.0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,1700.75,GHS,NaN

In [15]:
# cast appropriate data types
momo_data['AMOUNT'] = pd.to_numeric(momo_data['AMOUNT'],errors='coerce')
# momo_data['BAL_BEFORE'] = pd.to_numeric(momo_data['BAL_BEFORE'],errors='coerce')
# momo_data['BAL_AFTER'] = pd.to_numeric(momo_data['BAL_AFTER'],errors='coerce')
# momo_data['F_ID'] = pd.to_numeric(momo_data['F_ID'],errors='coerce')

In [16]:
momo_data.info(all)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6759 entries, 0 to 6758
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Id                       6759 non-null   int64
 1   External_Transaction_Id  822 non-null    object
 2   TRANSACTION_DATE         6759 non-null   object
 3   Status                   6759 non-null   object
 4   TRANS_TYPE               6759 non-null   object
 5   Provider_Category        0 non-null      float64
 6   To_Message               5967 non-null   object
 7   FROM_NO                  6759 non-null   object
 8   FROM_NAME                6759 non-null   object
 9   To                       6759 non-null   object
 10  To_Name                  6759 non-null   object
 11  OVA                      6759 non-null   object
 12  On_Behalf_Of             6759 non-null   object
 13  Approved_By              4 non-null      object
 14  AMOUNT                   6759 non-null   float64
 15  Currency                 6759 non-null   object
 16  Fee                      6758 non-null   float64
 17  Currency1                6758 non-null   object
 18  Discount                 0 non-null      float64
 19  Currency2                0 non-null      float64
 20  Promotion                0 non-null      float64
 21  Currency3                0 non-null      float64
 22  Coupon                   0 non-null      float64
 23  Currency4                0 non-null      float64
 24  Balance                  6759 non-null   float64
 25  Currency5                6759 non-null   object
 26  Information              0 non-null      float64
dtypes: float64(11), int64(1), object(15)
memory usage: 1.4+ MB

In [17]:
#Suppressing any scientific notation in entire csv file.

pd.set_option('display.float_format', lambda x: '%.0f' % x)

In [18]:
momo_data.head()

,Id,External_Transaction_Id,TRANSACTION_DATE,Status,TRANS_TYPE,Provider_Category,To_Message,FROM_NO,FROM_NAME,To,To_Name,OVA,On_Behalf_Of,Approved_By,AMOUNT,Currency,Fee,Currency1,Discount,Currency2,Promotion,Currency3,Coupon,Currency4,Balance,Currency5,Information
0,23515712900,NaN,4/11/2023 11:51,Successful,CASH_IN,NaN,Cashin To-233598355319,FRI:233248341190/MSISDN,BENJAMIN ADJEI,FRI:233598355319/MSISDN,JOSEPH KWAME FRIMPONG KESSE,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,20,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,56,GHS,NaN
1,23515677808,NaN,4/11/2023 11:50,Successful,CASH_IN,NaN,Cashin To-233557245702,FRI:233248341190/MSISDN,BENJAMIN ADJEI,FRI:233557245702/MSISDN,Linda Opoku,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,70,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,77,GHS,NaN
2,23515648162,NaN,4/11/2023 11:48,Successful,CASH_IN,NaN,Cashin To-233547877892,FRI:233248341190/MSISDN,BENJAMIN ADJEI,FRI:233547877892/MSISDN,Emmanuel Ahorgah,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,15,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,147,GHS,NaN
3,23515519054,NaN,4/11/2023 11:44,Successful,CASH_OUT,NaN,NationalId--,FRI:233543859094/MSISDN,DERRICK AHIAGBENYO,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233543859094/MSISDN,ID:233543859094/MSISDN,NaN,30,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,162,GHS,NaN
4,23515477521,NaN,4/11/2023 11:42,Successful,CASH_OUT,NaN,NationalId--,FRI:233558384831/MSISDN,Patience Zionu,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233558384831/MSISDN,ID:233558384831/MSISDN,NaN,50,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,132,GHS,NaN

In [19]:
m =momo_data['TRANSACTION_DATE'].str.split(' ', expand=True)

In [20]:

momo_data['TRANSACTION_DATE'] = m[0]
momo_data['TRANSACTION_TIME'] = m[1]

In [21]:
# shift column 'C' to first position
first_column = momo_data.pop('TRANSACTION_TIME')
  
# insert column using insert(position,column_name,first_column) function
momo_data.insert(1, 'TRANSACTION_TIME', first_column)

In [22]:
momo_data.info(all)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6759 entries, 0 to 6758
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Id                       6759 non-null   int64
 1   TRANSACTION_TIME         6759 non-null   object
 2   External_Transaction_Id  822 non-null    object
 3   TRANSACTION_DATE         6759 non-null   object
 4   Status                   6759 non-null   object
 5   TRANS_TYPE               6759 non-null   object
 6   Provider_Category        0 non-null      float64
 7   To_Message               5967 non-null   object
 8   FROM_NO                  6759 non-null   object
 9   FROM_NAME                6759 non-null   object
 10  To                       6759 non-null   object
 11  To_Name                  6759 non-null   object
 12  OVA                      6759 non-null   object
 13  On_Behalf_Of             6759 non-null   object
 14  Approved_By              4 non-null      object
 15  AMOUNT                   6759 non-null   float64
 16  Currency                 6759 non-null   object
 17  Fee                      6758 non-null   float64
 18  Currency1                6758 non-null   object
 19  Discount                 0 non-null      float64
 20  Currency2                0 non-null      float64
 21  Promotion                0 non-null      float64
 22  Currency3                0 non-null      float64
 23  Coupon                   0 non-null      float64
 24  Currency4                0 non-null      float64
 25  Balance                  6759 non-null   float64
 26  Currency5                6759 non-null   object
 27  Information              0 non-null      float64
dtypes: float64(11), int64(1), object(16)
memory usage: 1.4+ MB

In [23]:
momo_data.head()

,Id,TRANSACTION_TIME,External_Transaction_Id,TRANSACTION_DATE,Status,TRANS_TYPE,Provider_Category,To_Message,FROM_NO,FROM_NAME,To,To_Name,OVA,On_Behalf_Of,Approved_By,AMOUNT,Currency,Fee,Currency1,Discount,Currency2,Promotion,Currency3,Coupon,Currency4,Balance,Currency5,Information
0,23515712900,11:51,NaN,4/11/2023,Successful,CASH_IN,NaN,Cashin To-233598355319,FRI:233248341190/MSISDN,BENJAMIN ADJEI,FRI:233598355319/MSISDN,JOSEPH KWAME FRIMPONG KESSE,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,20,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,56,GHS,NaN
1,23515677808,11:50,NaN,4/11/2023,Successful,CASH_IN,NaN,Cashin To-233557245702,FRI:233248341190/MSISDN,BENJAMIN ADJEI,FRI:233557245702/MSISDN,Linda Opoku,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,70,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,77,GHS,NaN
2,23515648162,11:48,NaN,4/11/2023,Successful,CASH_IN,NaN,Cashin To-233547877892,FRI:233248341190/MSISDN,BENJAMIN ADJEI,FRI:233547877892/MSISDN,Emmanuel Ahorgah,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,15,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,147,GHS,NaN
3,23515519054,11:44,NaN,4/11/2023,Successful,CASH_OUT,NaN,NationalId--,FRI:233543859094/MSISDN,DERRICK AHIAGBENYO,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233543859094/MSISDN,ID:233543859094/MSISDN,NaN,30,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,162,GHS,NaN
4,23515477521,11:42,NaN,4/11/2023,Successful,CASH_OUT,NaN,NationalId--,FRI:233558384831/MSISDN,Patience Zionu,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233558384831/MSISDN,ID:233558384831/MSISDN,NaN,50,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,132,GHS,NaN

In [24]:
momo_data.tail()

,Id,TRANSACTION_TIME,External_Transaction_Id,TRANSACTION_DATE,Status,TRANS_TYPE,Provider_Category,To_Message,FROM_NO,FROM_NAME,To,To_Name,OVA,On_Behalf_Of,Approved_By,AMOUNT,Currency,Fee,Currency1,Discount,Currency2,Promotion,Currency3,Coupon,Currency4,Balance,Currency5,Information
6754,21823172071,7:01,NaN,2/1/2023,Successful,CASH_OUT,NaN,NationalId--,FRI:233595281495/MSISDN,BEATRICE AKPALIGAH,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233595281495/MSISDN,ID:233595281495/MSISDN,NaN,30,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,251,GHS,NaN
6755,21823144046,6:59,230201MMB2187873,2/1/2023,Successful,EXTERNAL_PAYMENT,NaN,NaN,FRI:233248341190/MSISDN,BENJAMIN ADJEI,FRI:1441002407704@ecobankpush/SP,Ecobank,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,2000,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,221,GHS,NaN
6756,21822953068,6:41,NaN,2/1/2023,Successful,CASH_OUT,NaN,NationalId--,FRI:233248527306/MSISDN,Nana Nyarko,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233248527306/MSISDN,ID:233248527306/MSISDN,NaN,500,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,2221,GHS,NaN
6757,21822942874,6:40,NaN,2/1/2023,Successful,CASH_OUT,NaN,NationalId--,FRI:233550878266/MSISDN,JENNIEFER AGBASAH,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233550878266/MSISDN,ID:233550878266/MSISDN,NaN,20,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,1721,GHS,NaN
6758,21822900312,6:35,NaN,2/1/2023,Successful,CASH_OUT,NaN,NationalId--,FRI:233243442321/MSISDN,Theophilus Frimpong,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233243442321/MSISDN,ID:233243442321/MSISDN,NaN,1700,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,1701,GHS,NaN

In [25]:
momo_data

,Id,TRANSACTION_TIME,External_Transaction_Id,TRANSACTION_DATE,Status,TRANS_TYPE,Provider_Category,To_Message,FROM_NO,FROM_NAME,To,To_Name,OVA,On_Behalf_Of,Approved_By,AMOUNT,Currency,Fee,Currency1,Discount,Currency2,Promotion,Currency3,Coupon,Currency4,Balance,Currency5,Information
0,23515712900,11:51,NaN,4/11/2023,Successful,CASH_IN,NaN,Cashin To-233598355319,FRI:233248341190/MSISDN,BENJAMIN ADJEI,FRI:233598355319/MSISDN,JOSEPH KWAME FRIMPONG KESSE,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,20,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,56,GHS,NaN
1,23515677808,11:50,NaN,4/11/2023,Successful,CASH_IN,NaN,Cashin To-233557245702,FRI:233248341190/MSISDN,BENJAMIN ADJEI,FRI:233557245702/MSISDN,Linda Opoku,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,70,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,77,GHS,NaN
2,23515648162,11:48,NaN,4/11/2023,Successful,CASH_IN,NaN,Cashin To-233547877892,FRI:233248341190/MSISDN,BENJAMIN ADJEI,FRI:233547877892/MSISDN,Emmanuel Ahorgah,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,15,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,147,GHS,NaN
3,23515519054,11:44,NaN,4/11/2023,Successful,CASH_OUT,NaN,NationalId--,FRI:233543859094/MSISDN,DERRICK AHIAGBENYO,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233543859094/MSISDN,ID:233543859094/MSISDN,NaN,30,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,162,GHS,NaN
4,23515477521,11:42,NaN,4/11/2023,Successful,CASH_OUT,NaN,NationalId--,FRI:233558384831/MSISDN,Patience Zionu,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233558384831/MSISDN,ID:233558384831/MSISDN,NaN,50,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,132,GHS,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6754,21823172071,7:01,NaN,2/1/2023,Successful,CASH_OUT,NaN,NationalId--,FRI:233595281495/MSISDN,BEATRICE AKPALIGAH,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233595281495/MSISDN,ID:233595281495/MSISDN,NaN,30,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,251,GHS,NaN
6755,21823144046,6:59,230201MMB2187873,2/1/2023,Successful,EXTERNAL_PAYMENT,NaN,NaN,FRI:233248341190/MSISDN,BENJAMIN ADJEI,FRI:1441002407704@ecobankpush/SP,Ecobank,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,2000,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,221,GHS,NaN
6756,21822953068,6:41,NaN,2/1/2023,Successful,CASH_OUT,NaN,NationalId--,FRI:233248527306/MSISDN,Nana Nyarko,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233248527306/MSISDN,ID:233248527306/MSISDN,NaN,500,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,2221,GHS,NaN
6757,21822942874,6:40,NaN,2/1/2023,Successful,CASH_OUT,NaN,NationalId--,FRI:233550878266/MSISDN,JENNIEFER AGBASAH,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233550878266/MSISDN,ID:233550878266/MSISDN,NaN,20,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,1721,GHS,NaN
6758,21822900312,6:35,NaN,2/1/2023,Successful,CASH_OUT,NaN,NationalId--,FRI:233243442321/MSISDN,Theophilus Frimpong,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233243442321/MSISDN,ID:233243442321/MSISDN,NaN,1700,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,1701,GHS,NaN

In [26]:
momo_data['FROM_NO'] = momo_data['FROM_NO'].apply(lambda st: st[st.find(":")+1:st.find("/")])
momo_data['FROM_NO'] = momo_data['FROM_NO'].apply(lambda st: st[st.find(":")+1:st.find("@")])

In [27]:
num=momo_data.loc[momo_data['TRANS_TYPE'] == 'CASH_IN', 'FROM_NO'].iloc[0]
num

'23324834119'

In [28]:
momo = momo_data.loc[momo_data['OVA'].str.contains("cis", case = False)]
momo

,Id,TRANSACTION_TIME,External_Transaction_Id,TRANSACTION_DATE,Status,TRANS_TYPE,Provider_Category,To_Message,FROM_NO,FROM_NAME,To,To_Name,OVA,On_Behalf_Of,Approved_By,AMOUNT,Currency,Fee,Currency1,Discount,Currency2,Promotion,Currency3,Coupon,Currency4,Balance,Currency5,Information
319,23452549186,20:19,7.08877E+17,4/8/2023,Successful,DEBIT,NaN,171-Internet-Data_Flexi_Bundle,23324834119,BENJAMIN ADJEI,FRI:cis/USER,MTNBUNDLE .,ID:cis/USER,ID:cis/USER,NaN,3,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,954,GHS,NaN
602,23402883542,7:42,8.54767E+17,4/7/2023,Successful,DEBIT,NaN,138-Internet-Data_Flexi_Bundle,23324834119,BENJAMIN ADJEI,FRI:cisnew/USER,MTN,ID:cisnew/USER,ID:cisnew/USER,NaN,3,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,1110,GHS,NaN
1232,23231390589,8:31,9.96916E+17,4/1/2023,Successful,DEBIT,NaN,138-Internet-Data_Flexi_Bundle,23324834119,BENJAMIN ADJEI,FRI:cisnew/USER,MTN,ID:cisnew/USER,ID:cisnew/USER,NaN,4,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,778,GHS,NaN
2075,23056526497,20:03,3.27281E+17,3/25/2023,Successful,DEBIT,NaN,138-Internet-Data_Flexi_Bundle,23324834119,BENJAMIN ADJEI,FRI:cisnew/USER,MTN,ID:cisnew/USER,ID:cisnew/USER,NaN,1,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,401,GHS,NaN

In [29]:
name = momo['FROM_NAME'].iloc[0]
name

'BENJAMIN ADJEI'

In [30]:
momo_data['TRANSACTION_DATE'] = pd.to_datetime(momo_data['TRANSACTION_DATE'])

In [31]:
momo_data

,Id,TRANSACTION_TIME,External_Transaction_Id,TRANSACTION_DATE,Status,TRANS_TYPE,Provider_Category,To_Message,FROM_NO,FROM_NAME,To,To_Name,OVA,On_Behalf_Of,Approved_By,AMOUNT,Currency,Fee,Currency1,Discount,Currency2,Promotion,Currency3,Coupon,Currency4,Balance,Currency5,Information
0,23515712900,11:51,NaN,2023-04-11,Successful,CASH_IN,NaN,Cashin To-233598355319,23324834119,BENJAMIN ADJEI,FRI:233598355319/MSISDN,JOSEPH KWAME FRIMPONG KESSE,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,20,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,56,GHS,NaN
1,23515677808,11:50,NaN,2023-04-11,Successful,CASH_IN,NaN,Cashin To-233557245702,23324834119,BENJAMIN ADJEI,FRI:233557245702/MSISDN,Linda Opoku,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,70,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,77,GHS,NaN
2,23515648162,11:48,NaN,2023-04-11,Successful,CASH_IN,NaN,Cashin To-233547877892,23324834119,BENJAMIN ADJEI,FRI:233547877892/MSISDN,Emmanuel Ahorgah,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,15,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,147,GHS,NaN
3,23515519054,11:44,NaN,2023-04-11,Successful,CASH_OUT,NaN,NationalId--,23354385909,DERRICK AHIAGBENYO,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233543859094/MSISDN,ID:233543859094/MSISDN,NaN,30,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,162,GHS,NaN
4,23515477521,11:42,NaN,2023-04-11,Successful,CASH_OUT,NaN,NationalId--,23355838483,Patience Zionu,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233558384831/MSISDN,ID:233558384831/MSISDN,NaN,50,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,132,GHS,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6754,21823172071,7:01,NaN,2023-02-01,Successful,CASH_OUT,NaN,NationalId--,23359528149,BEATRICE AKPALIGAH,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233595281495/MSISDN,ID:233595281495/MSISDN,NaN,30,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,251,GHS,NaN
6755,21823144046,6:59,230201MMB2187873,2023-02-01,Successful,EXTERNAL_PAYMENT,NaN,NaN,23324834119,BENJAMIN ADJEI,FRI:1441002407704@ecobankpush/SP,Ecobank,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,2000,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,221,GHS,NaN
6756,21822953068,6:41,NaN,2023-02-01,Successful,CASH_OUT,NaN,NationalId--,23324852730,Nana Nyarko,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233248527306/MSISDN,ID:233248527306/MSISDN,NaN,500,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,2221,GHS,NaN
6757,21822942874,6:40,NaN,2023-02-01,Successful,CASH_OUT,NaN,NationalId--,23355087826,JENNIEFER AGBASAH,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233550878266/MSISDN,ID:233550878266/MSISDN,NaN,20,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,1721,GHS,NaN
6758,21822900312,6:35,NaN,2023-02-01,Successful,CASH_OUT,NaN,NationalId--,23324344232,Theophilus Frimpong,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233243442321/MSISDN,ID:233243442321/MSISDN,NaN,1700,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,1701,GHS,NaN

In [32]:

momo_data['TRANSACTION_DATE'] = momo_data['TRANSACTION_DATE'].dt.strftime('%b')
momo_data

,Id,TRANSACTION_TIME,External_Transaction_Id,TRANSACTION_DATE,Status,TRANS_TYPE,Provider_Category,To_Message,FROM_NO,FROM_NAME,To,To_Name,OVA,On_Behalf_Of,Approved_By,AMOUNT,Currency,Fee,Currency1,Discount,Currency2,Promotion,Currency3,Coupon,Currency4,Balance,Currency5,Information
0,23515712900,11:51,NaN,Apr,Successful,CASH_IN,NaN,Cashin To-233598355319,23324834119,BENJAMIN ADJEI,FRI:233598355319/MSISDN,JOSEPH KWAME FRIMPONG KESSE,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,20,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,56,GHS,NaN
1,23515677808,11:50,NaN,Apr,Successful,CASH_IN,NaN,Cashin To-233557245702,23324834119,BENJAMIN ADJEI,FRI:233557245702/MSISDN,Linda Opoku,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,70,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,77,GHS,NaN
2,23515648162,11:48,NaN,Apr,Successful,CASH_IN,NaN,Cashin To-233547877892,23324834119,BENJAMIN ADJEI,FRI:233547877892/MSISDN,Emmanuel Ahorgah,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,15,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,147,GHS,NaN
3,23515519054,11:44,NaN,Apr,Successful,CASH_OUT,NaN,NationalId--,23354385909,DERRICK AHIAGBENYO,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233543859094/MSISDN,ID:233543859094/MSISDN,NaN,30,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,162,GHS,NaN
4,23515477521,11:42,NaN,Apr,Successful,CASH_OUT,NaN,NationalId--,23355838483,Patience Zionu,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233558384831/MSISDN,ID:233558384831/MSISDN,NaN,50,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,132,GHS,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6754,21823172071,7:01,NaN,Feb,Successful,CASH_OUT,NaN,NationalId--,23359528149,BEATRICE AKPALIGAH,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233595281495/MSISDN,ID:233595281495/MSISDN,NaN,30,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,251,GHS,NaN
6755,21823144046,6:59,230201MMB2187873,Feb,Successful,EXTERNAL_PAYMENT,NaN,NaN,23324834119,BENJAMIN ADJEI,FRI:1441002407704@ecobankpush/SP,Ecobank,ID:233248341190/MSISDN,ID:233248341190/MSISDN,NaN,2000,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,221,GHS,NaN
6756,21822953068,6:41,NaN,Feb,Successful,CASH_OUT,NaN,NationalId--,23324852730,Nana Nyarko,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233248527306/MSISDN,ID:233248527306/MSISDN,NaN,500,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,2221,GHS,NaN
6757,21822942874,6:40,NaN,Feb,Successful,CASH_OUT,NaN,NationalId--,23355087826,JENNIEFER AGBASAH,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233550878266/MSISDN,ID:233550878266/MSISDN,NaN,20,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,1721,GHS,NaN
6758,21822900312,6:35,NaN,Feb,Successful,CASH_OUT,NaN,NationalId--,23324344232,Theophilus Frimpong,FRI:233248341190/MSISDN,BENJAMIN ADJEI,ID:233243442321/MSISDN,ID:233243442321/MSISDN,NaN,1700,GHS,0,GHS,NaN,NaN,NaN,NaN,NaN,NaN,1701,GHS,NaN

# Converting PDF to CSV and XLSX

In [33]:
# ## convert momo_data to csv
# momo_data.to_csv(r'C:\Users\Chakdahah\Downloads\Django-main\Django-main\analytics_project\StrippedMomotoCSV298.csv',date_format='%d/%m/%Y')

# momo_data.to_excel("StrippedMomotoXLS298.xlsx")

In [34]:
# Set empty list and dict
masterData = []
userData= {}

# Calculation of scoring parameters

In [35]:

rows = momo_data.count()[0] # Agent Frequency of use
userData["freq_of_active"] = rows



MOMO=momo_data[(momo_data == 'CASH_IN').any(axis=1)] # frequency of rebalance
MOMOR = MOMO.count()[0]
userData["freq_of_repl"] = MOMOR


meadnie = momo_data.loc[momo_data['TRANS_TYPE']=='CASH_IN','AMOUNT'].median() #Median Cash-In for last 90days
# userData["mead_cash_in"] = meadnie
# userData["mead_cash_in"]
userData["median_cash_in_calc"] = meadnie*4


modnie = momo_data.loc[momo_data['TRANS_TYPE']=='CASH_IN','AMOUNT'].mode() # Mode Cash-In for last 90 days
userData["mode_cash_in_calc"] = modnie*4
userData["mode_cash_in_calc"] = max(userData["mode_cash_in_calc"]) #for converting from bool to int for processing


meadniout = momo_data.loc[momo_data['TRANS_TYPE']=='CASH_OUT','AMOUNT'].median() # Median Cash-Out for last 90 days
# userData["mead_cash_out"] = meadniout
# userData["mead_cash_out"]
userData["median_cash_out_calc"] = meadniout*4


modno = momo_data.loc[momo_data['TRANS_TYPE']=='CASH_OUT','AMOUNT'].mode() # Mode Cash-Out for last 90 days
userData["mode_cash_out_calc"] = modno*4 
userData["mode_cash_out_calc"] = max(userData["mode_cash_out_calc"])

# Scoring Criteria Calculation

In [36]:
user_copy = userData.copy()
masterData.append(user_copy)

In [37]:
### scoring

inelligible = []
elligible = []
score_table = []
scoring_table = {}
combined = []

In [38]:
scoring_table["Agent Number"] = num
scoring_table["Agent Name"] = name

In [39]:
mi =momo_data['TRANSACTION_DATE']

In [40]:


## Agent Length of Service - 3 months

for i in mi:
    u = mi.str.extract('([a-zA-Z ]+)', expand=False).str.strip()
    monthcount = u.drop_duplicates()
print(monthcount)

if len(monthcount)>=3:
    scoring_table["Length of Service"] = 100
    Credit_score = 100
else:
    scoring_table["Length of Service"] = 0
    Credit_score = 0


for index in range(len(masterData)):

    ## Frequency of use  >= 150 transactions(count) in total

    if masterData[index]["freq_of_active"]> 150 and masterData[index]["freq_of_active"] <= 300:
        user_copy = masterData[index]
#         print(user_copy)
        Credit_score += 50
        scoring_table["Frequency of Activity"] = 50
    elif masterData[index]["freq_of_active"]> 300:
        elig_copy = masterData[index]
        Credit_score+= 100
        scoring_table["Frequency of Activity"] = 100
    else:
        scoring_table["Frequency of Activity"] = 0


        

        
        
#Agent Frequency of rebalance - >= 50 inbound(count) in total

    if masterData[index]["freq_of_repl"]>= 50 and masterData[index]["freq_of_repl"] <= 100:
        user_copy = masterData[index]
        Credit_score += 50 
        scoring_table["Frequency of Rebalance"] = 50
    elif masterData[index]["freq_of_active"]> 100:
        elig_copy = masterData[index]
        Credit_score+= 100
        scoring_table["Frequency of Rebalance"] = 100
    else:
        scoring_table["Frequency of Rebalance"] = 0
        

        
        
        # Median Cash-In for last 90 days - avg. txn amnt - ghs800 

        
    if masterData[index]["median_cash_in_calc"] >= 800:
        user_copy = masterData[index]
        Credit_score += 50
        scoring_table["Median Cash In"] = 50
    else:
        Credit_score+= 0
        scoring_table["Median Cash In"] = 0

        
        
          # Mode Cash-In for last 90 days - lowest amnt cash in - ghs400 

        
    if masterData[index]["mode_cash_in_calc"] >= 400:
        user_copy = masterData[index]
        Credit_score += 50 
        scoring_table["Mode Cash In"] = 50
        
    else:
        elig_copy = masterData[index]
        Credit_score+= 0
        scoring_table["Mode Cash In"] = 0
        
        
        
       # Median Cash-Out for last 90 days - avg. txn amnt - ghs1000


    if masterData[index]["median_cash_out_calc"] > 1000:
        user_copy = masterData[index]
        Credit_score += 50 
        scoring_table["Median Cash Out"] = 50
    else:
        elig_copy = masterData[index]
        Credit_score+= 0
        scoring_table["Median Cash Out"] = 0
        
#     Mode Cash-Out for last 90 days - lowest amnt cash out - ghs500 
        
    if masterData[index]["mode_cash_out_calc"] >= 500:
        user_copy = masterData[index]
        Credit_score += 50 
        scoring_table["Mode Cash Out"] = 50
    else:
        elig_copy = masterData[index]
        Credit_score+= 0   
        scoring_table["Mode Cash Out"] = 0
    

#         print(elig_copy)
scoring_table["Credit Score"] = Credit_score
score_table.append(scoring_table)

0       Apr
1256    Mar
4648    Feb
Name: TRANSACTION_DATE, dtype: object

In [41]:
elligible.append(elig_copy)

# Applying scores to Merchants

In [42]:
    
    if Credit_score < 200:
        print("You don't qualify for a loan")
        scoring_table["Eligibility"] = 0
    
    elif Credit_score >= 200 and Credit_score <= 250:
        print("You qualify for a GHS 1000 loan")
        scoring_table["Eligibility"] = 1000

    elif Credit_score >= 251 and Credit_score <= 350:
        print("You qualify for a GHS 2000 loan")
        scoring_table["Eligibility"] = 2000

    elif Credit_score >= 351 and Credit_score <= 400:
        print("You qualify for a GHS 3000 loan")
        scoring_table["Eligibility"] = 3000


    elif Credit_score >= 401 and Credit_score <= 500:
        print("You qualify for a GHS 5000 loan")
        scoring_table["Eligibility"] = 5000

You qualify for a GHS 2000 loan

# Combining Eligibility and Score Tables

In [43]:
scoring_table.update(elig_copy)
comb = scoring_table
comb

{'Agent Number': '23324834119',
 'Agent Name': 'BENJAMIN ADJEI',
 'Length of Service': 100,
 'Frequency of Activity': 100,
 'Frequency of Rebalance': 100,
 'Median Cash In': 0,
 'Mode Cash In': 0,
 'Median Cash Out': 0,
 'Mode Cash Out': 0,
 'Credit Score': 300,
 'Eligibility': 2000,
 'freq_of_active': 6759,
 'freq_of_repl': 2817,
 'median_cash_in_calc': 200.0,
 'mode_cash_in_calc': 40.0,
 'median_cash_out_calc': 396.0,
 'mode_cash_out_calc': 200.0}

In [44]:
comb = scoring_table | elig_copy
comb

{'Agent Number': '23324834119',
 'Agent Name': 'BENJAMIN ADJEI',
 'Length of Service': 100,
 'Frequency of Activity': 100,
 'Frequency of Rebalance': 100,
 'Median Cash In': 0,
 'Mode Cash In': 0,
 'Median Cash Out': 0,
 'Mode Cash Out': 0,
 'Credit Score': 300,
 'Eligibility': 2000,
 'freq_of_active': 6759,
 'freq_of_repl': 2817,
 'median_cash_in_calc': 200.0,
 'mode_cash_in_calc': 40.0,
 'median_cash_out_calc': 396.0,
 'mode_cash_out_calc': 200.0}

In [45]:
combined.append(comb)

In [46]:
print("Elligible", elligible)

Elligible [{'freq_of_active': 6759, 'freq_of_repl': 2817, 'median_cash_in_calc': 200.0, 'mode_cash_in_calc': 40.0, 'median_cash_out_calc': 396.0, 'mode_cash_out_calc': 200.0}]

In [47]:
Credit_score

300

# Converting and saving Score Table

In [48]:
score_table = pd.DataFrame.from_dict(score_table)
score_table

,Agent Number,Agent Name,Length of Service,Frequency of Activity,Frequency of Rebalance,Median Cash In,Mode Cash In,Median Cash Out,Mode Cash Out,Credit Score,Eligibility,freq_of_active,freq_of_repl,median_cash_in_calc,mode_cash_in_calc,median_cash_out_calc,mode_cash_out_calc
0,23324834119,BENJAMIN ADJEI,100,100,100,0,0,0,0,300,2000,6759,2817,200,40,396,200

In [49]:
# score_table.to_csv(r'C:\Users\Chakdahah\Downloads\Django-main\Django-main\analytics_project\scoretableben.csv')

# Converting and saving Eligibility Table

In [50]:
### convert dict to df

elligible = pd.DataFrame.from_dict(elligible)
elligible

,freq_of_active,freq_of_repl,median_cash_in_calc,mode_cash_in_calc,median_cash_out_calc,mode_cash_out_calc
0,6759,2817,200,40,396,200

In [51]:
type(elligible)

pandas.core.frame.DataFrame

In [52]:
# elligible.to_csv(r'C:\Users\Chakdahah\Downloads\Django-main\Django-main\analytics_project\elligibleben.csv')

# Converting and saving Combined Table

In [53]:
combined_table = pd.DataFrame.from_dict(combined)
combined_table

,Agent Number,Agent Name,Length of Service,Frequency of Activity,Frequency of Rebalance,Median Cash In,Mode Cash In,Median Cash Out,Mode Cash Out,Credit Score,Eligibility,freq_of_active,freq_of_repl,median_cash_in_calc,mode_cash_in_calc,median_cash_out_calc,mode_cash_out_calc
0,23324834119,BENJAMIN ADJEI,100,100,100,0,0,0,0,300,2000,6759,2817,200,40,396,200

In [54]:
# combined_table.to_csv(r'C:\Users\Chakdahah\Downloads\Django-main\Django-main\analytics_project\combtableben.csv')

In [55]:
logging.basicConfig(format='%(asctime)s - %(message)s', level=logging.INFO)
logging.info('End of Code')

2023-06-06 16:05:35,931 - End of Code

# Score and risk grade table

In [56]:
details = {
    'Risk Ranking' : ['RR-1', 'RR-2', 'RR-3', 'RR-4'],
    'Minimum Score' : [200,251,351,401],
    'Maximum Score' : [250,350,400,500],
    'Qualifying Amount(GHS)':[1000,2000,3000,5000]
}
  
# creating a Dataframe object 
df = pd.DataFrame(details)
df

  Risk Ranking  Minimum Score  Maximum Score  Qualifying Amount(GHS)
0         RR-1            200            250                    1000
1         RR-2            251            350                    2000
2         RR-3            351            400                    3000
3         RR-4            401            500                    5000