# Agent Loan Decisioning

In [1]:
import sys
import datetime
from datetime import date,timedelta
import numpy as np
import pandas as pd
import camelot
import matplotlib.pyplot as plt

In [2]:
# sys.maxsize
# 2147483647


Qualifying Matrix

1.	Agent Length of Service - 3 months

2.	Agent Frequency of use/activity - >= 65 transactions(count) in total

3.	Agent Frequency of rebalance - >= 45 inbound(count) in total

4.	Median Cash-In for last 90 days - avg. txn amnt - ghs5000 

5.	Mode Cash-In for last 90 days - lowest amnt cash in - ghs1000 

6.	Median Cash-Out for last 90 days - avg. txn amnt - ghs5000

7.	Mode Cash-Out for last 90 days - lowest amnt cash out - ghs1000

In [3]:

##### full pdf reading

# tables = camelot.read_pdf(r'C:\Users\Chakdahah\MomoStatementReport.pdf',pages='all') #emma data
# tables = camelot.read_pdf(r'C:\Users\Chakdahah\MomoStatement2.pdf',pages='all') #prince momo agent2
# tables = camelot.read_pdf(r'C:\Users\Chakdahah\momopages2.pdf',pages='all') # 2 pages prince
# tables = camelot.read_pdf(r'C:\Users\Chakdahah\Momopages3.pdf',pages='all') #50 pages prince
tables = camelot.read_pdf(r'C:\Users\Chakdahah\momo3pages.pdf',pages='all') # 3 pages prince containig each month

tables



# tables[j].parsing_report #check parsing report to see accuracy of parsing and other details

# append to one csv file

table_fin = tables[0].df #convert first table to df and assign to variable 

for i in range(1,len(tables)-1): # skip 0-nth of tables
    print(i)
    t = tables[i].df 
    t.drop(t.index[0], inplace = True) # drop first row of df
    table_fin = pd.concat([table_fin, t], axis = 0)
    

    print(t)

1
                         0          1                                 2   \
1   21-Feb-2023 03:45:22 PM   56080069     VENTURES FOSU\nNYARKO MAXWELL
2   21-Feb-2023 03:43:29 PM   61682631                        Janet Narh
3   21-Feb-2023 03:40:53 PM   65223666             MAXWELL FOSU\nNYARKOH
4
5          TRANSACTION DATE  FROM ACCT  MAXWELL FOSU\nFROM NAME\nNYARKOH
6
7   21-Feb-2023 03:26:58 PM   65223666             MAXWELL FOSU\nNYARKOH
8   21-Feb-2023 03:17:33 PM   39825542                   Millicent Dinku
9   21-Feb-2023 03:06:52 PM   65223635             MAXWELL FOSU\nNYARKOH
10  21-Feb-2023 02:35:04 PM   65223666             MAXWELL FOSU\nNYARKOH
11  21-Feb-2023 02:17:29 PM   65223666             MAXWELL FOSU\nNYARKOH
12  21-Feb-2023 01:55:46 PM   65211995                       JAMES DARKO
13  21-Feb-2023 01:43:34 PM   65223666             MAXWELL FOSU\nNYARKOH
14  21-Feb-2023 01:33:18 PM   65223666             MAXWELL FOSU\nNYARKOH
15  21-Feb-2023 01:01:17 PM   65223666             MAXWELL FOSU\nNYARKOH
16  21-Feb-2023 12:33:45 PM   65223666             MAXWELL FOSU\nNYARKOH
17  21-Feb-2023 12:25:44 PM   65223666             MAXWELL FOSU\nNYARKOH
18  21-Feb-2023 11:52:16 AM   45122773                    Leticia Badjey
19  21-Feb-2023 11:46:59 AM   49939951                       Martha Kobi
20  21-Feb-2023 11:25:19 AM   63058815                OWUSU\nCEPHASKWASI
21  21-Feb-2023 11:23:45 AM   65223666             MAXWELL FOSU\nNYARKOH
22  21-Feb-2023 11:17:29 AM   57531938                   anganta ayoamah
23  21-Feb-2023 11:10:15 AM   56080069     VENTURES FOSU\nNYARKO MAXWELL
24  21-Feb-2023 11:04:17 AM   65223666             MAXWELL FOSU\nNYARKOH
25  21-Feb-2023 10:37:33 AM   65223666             MAXWELL FOSU\nNYARKOH
26  21-Feb-2023 10:36:32 AM   58371246                 Josephine Damptey
27  21-Feb-2023 10:35:03 AM   65223666             MAXWELL FOSU\nNYARKOH
28  21-Feb-2023 10:14:48 AM   61270009                 ROSEMOND\nBROBBEY
29  21-Feb-2023 09:52:42 AM   49633992                  Attakuma Abigail
30  21-Feb-2023 09:48:05 AM   65223666             MAXWELL FOSU\nNYARKOH
31  21-Feb-2023 09:34:32 AM   65223666             MAXWELL FOSU\nNYARKOH
32  21-Feb-2023 09:30:29 AM   57973180                  Cecilia Atinyadi
33  21-Feb-2023 09:18:17 AM   59270697              MAXWELL NYARKO\nFOSU
34  21-Feb-2023 09:06:33 AM   58983462                   Comfort Allotey
35

              3            4       5     6           7          8   \
1   233245598332     TRANSFER    4000     0     2046.36    6046.36
2   233595275410     CASH_OUT      40   0.5     2006.36    2046.36
3   233591451241     TRANSFER      72     0     2078.36    2006.36
4
5   233591451241  TRANS. TYPE  AMOUNT  FEES  BAL BEFORE  BAL AFTER
6
7   233591451241     TRANSFER    4630     0     7314.36    2684.36
8   233243824886     CASH_OUT     200     2     7114.36    7314.36
9   233241435761     TRANSFER    2000     0     5114.36    7114.36
10  233591451241      CASH_IN    50.5     0     5164.86    5114.36
11  233591451241      CASH_IN     600     0     5764.86    5164.86
12  233596611459     CASH_OUT     400     4     5364.86    5764.86
13  233591451241      CASH_IN     238     0     5602.86    5364.86
14  233591451241      CASH_IN      81     0     5683.86    5602.86
15  233591451241      CASH_IN    30.5     0     5714.36    5683.86
16  233591451241      CASH_IN   141.5     0     5855.86    5714.36
17  233591451241      CASH_IN   252.5     0     6108.36    5855.86
18  233244210900     CASH_OUT     400     4     5708.36    6108.36
19  233556667073     CASH_OUT     150   1.5     5558.36    5708.36
20  233555980135     CASH_OUT     345  3.45     5213.36    5558.36
21  233591451241      CASH_IN     353     0     5566.36    5213.36
22  233548471602     CASH_OUT     355  3.55     5211.36    5566.36
23  233245598332     TRANSFER    5000     0      211.36    5211.36
24  233591451241      CASH_IN    2000     0     2211.36     211.36
25  233591451241     TRANSFER     200     0     2411.36    2211.36
26  233241510128     CASH_OUT     200     2     2211.36    2411.36
27  233591451241     TRANSFER    3000     0     5211.36    2211.36
28  233557903774     CASH_OUT     470   4.7     4741.36    5211.36
29  233543381645     CASH_OUT     110   1.1     4631.36    4741.36
30  233591451241      CASH_IN     505     0     5136.36    4631.36
31  233591451241      CASH_IN     303     0     5439.36    5136.36
32  233551513255     CASH_OUT     250   2.5     5189.36    5439.36
33  233242149872     TRANSFER    4000     0     1189.36    5189.36
34  233555593019     CASH_OUT      30   0.5     1159.36    1189.36
35

              9                       10        11           12  \
1   233591451241    MAXWELL FOSU NYARKOH  65223666  22266305793
2   233591451241    MAXWELL FOSU NYARKOH  65223666  22266265237
3   233558536805           EUNICE BOSSOH  55800590  22266210183
4
5   233241475520          Albert Sarpong   TO ACCT  22266178797
6
7   233593026749             AMOAH LINDA  60824335  22265920456
8   233591451241    MAXWELL FOSU NYARKOH  65223666  22265727771
9   233591451241    MAXWELL FOSU NYARKOH  65223666  22265508510
10  233247745543         Michael Lamptey  41241937  22264816602
11  233241142994        Faustina Ntriwaa  57582080  22264442697
12  233591451241    MAXWELL FOSU NYARKOH  65223666  22263982968
13  233554255477            SELINA NAZAR  67907017  22263724098
14  233249434959           Lawerteh Buer  48052757  22263504223
15  233245983191  ISAAC YAW ADORKU ANSAH  71745752  22262810157
16  233244211999          BONSI NICHOLAS  61293938  22262237406
17  233544731221        Whyte Kojo Barry  52345647  22262069554
18  233591451241    MAXWELL FOSU NYARKOH  65223666  22261362830
19  233591451241    MAXWELL FOSU NYARKOH  65223666  22261252289
20  233591451241    MAXWELL FOSU NYARKOH  65223666  22260791027
21  233249102573              Rose Amoah  44741514  22260757544
22  233591451241    MAXWELL FOSU NYARKOH  65223666  22260623109
23  233591451241    MAXWELL FOSU NYARKOH  65223666  22260464509
24  233530095255           PAUL NYEVEGAH  75021743  22260332910
25  233555510426        SAMPSON AMPONSAH  59128273  22259735874
26  233591451241    MAXWELL FOSU NYARKOH  65223666  22259713243
27  233555510426        SAMPSON AMPONSAH  59128273  22259679573
28  233591451241    MAXWELL FOSU NYARKOH  65223666  22259219398
29  233591451241    MAXWELL FOSU NYARKOH  65223666  22258714522
30  233558325862        Perpetual Boakye  51404834  22258608003
31  233599763511          IS-HAD MUSTAFA  67875639  22258294065
32  233591451241    MAXWELL FOSU NYARKOH  65223666  22258200176
33  233591451241    MAXWELL FOSU NYARKOH  65223666  22257919934
34  233591451241    MAXWELL FOSU NYARKOH  65223666  22257651310
35

                               13  \
1                               1
2                    NationalId--
3                               1
4
5   Cashin To-\nREF\n233241475520
6
7                               1
8                    NationalId--
9                               1
10       Cashin To-\n233247745543
11       Cashin To-\n233241142994
12                   NationalId--
13       Cashin To-\n233554255477
14       Cashin To-\n233249434959
15       Cashin To-\n233245983191
16       Cashin To-\n233244211999
17       Cashin To-\n233544731221
18                   NationalId--
19                   NationalId--
20                   NationalId--
21       Cashin To-\n233249102573
22                   NationalId--
23                              1
24       Cashin To-\n233530095255
25                              1
26                   NationalId--
27                              1
28                   NationalId--
29                   NationalId--
30       Cashin To-\n233558325862
31       Cashin To-\n233599763511
32                   NationalId--
33                              1
34                   NationalId--
35

                                                   14
1                                            Internal
2                                            Internal
3                                            Internal
4
5                                            Internal
6
7                                            Internal
8                                            Internal
9                                            Internal
10                                           Internal
11                                           Internal
12                                           Internal
13                                           Internal
14                                           Internal
15                                           Internal
16                                           Internal
17                                           Internal
18                                           Internal
19                                           Internal
20                                           Internal
21                                           Internal
22                                           Internal
23                                           Internal
24                                           Internal
25                                           Internal
26                                           Internal
27                                           Internal
28                                           Internal
29                                           Internal
30                                           Internal
31                                           Internal
32                                           Internal
33                                           Internal
34                                           Internal
35  21-Feb-2023 03:46:50 PM\n65223666\n23359145124...

In [4]:
# Assign tables into momo data variable

momo_data = table_fin
momo_data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,TRANSACTION DATE,FROM ACCT,FROM NAME,FROM NO.,TRANS. TYPE,AMOUNT,FEES,BAL BEFORE,BAL AFTER,TO NO.,TO NAME,TO ACCT,F_ID,REF,OVA
1,31-Mar-2023 07:48:12 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,210,0,1764.24,1554.24,233244681179,Teddy Pendeglass Kissi,47508410,23222467375,Cashin To-\n233244681179,Internal
2,31-Mar-2023 07:47:49 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,200,0,1964.24,1764.24,233548054905,KISSI TEDDY,66016708,23222456200,Cashin To-\n233548054905,Internal
3,31-Mar-2023 07:39:32 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,30,0,1994.24,1964.24,233542482423,KELVIN APPIAH,71255668,23222206348,Cashin To-\n233542482423,Internal
4,31-Mar-2023 07:09:58 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,110,0,2104.24,1994.24,233540590150,GIDEON ATIAH,72580914,23221272044,Cashin To-\n233540590150,Internal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,21-Feb-2023 09:34:32 AM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,303,0,5439.36,5136.36,233599763511,IS-HAD MUSTAFA,67875639,22258294065,Cashin To-\n233599763511,Internal
32,21-Feb-2023 09:30:29 AM,57973180,Cecilia Atinyadi,233551513255,CASH_OUT,250,2.5,5189.36,5439.36,233591451241,MAXWELL FOSU NYARKOH,65223666,22258200176,NationalId--,Internal
33,21-Feb-2023 09:18:17 AM,59270697,MAXWELL NYARKO\nFOSU,233242149872,TRANSFER,4000,0,1189.36,5189.36,233591451241,MAXWELL FOSU NYARKOH,65223666,22257919934,1,Internal
34,21-Feb-2023 09:06:33 AM,58983462,Comfort Allotey,233555593019,CASH_OUT,30,0.5,1159.36,1189.36,233591451241,MAXWELL FOSU NYARKOH,65223666,22257651310,NationalId--,Internal
35,,,,,,,,,,,,,,,21-Feb-2023 03:46:50 PM\n65223666\n23359145124...

In [5]:
momo_data[~momo_data.iloc[:,0].str.contains("\n")]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,TRANSACTION DATE,FROM ACCT,FROM NAME,FROM NO.,TRANS. TYPE,AMOUNT,FEES,BAL BEFORE,BAL AFTER,TO NO.,TO NAME,TO ACCT,F_ID,REF,OVA
1,31-Mar-2023 07:48:12 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,210,0,1764.24,1554.24,233244681179,Teddy Pendeglass Kissi,47508410,23222467375,Cashin To-\n233244681179,Internal
2,31-Mar-2023 07:47:49 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,200,0,1964.24,1764.24,233548054905,KISSI TEDDY,66016708,23222456200,Cashin To-\n233548054905,Internal
3,31-Mar-2023 07:39:32 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,30,0,1994.24,1964.24,233542482423,KELVIN APPIAH,71255668,23222206348,Cashin To-\n233542482423,Internal
4,31-Mar-2023 07:09:58 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,110,0,2104.24,1994.24,233540590150,GIDEON ATIAH,72580914,23221272044,Cashin To-\n233540590150,Internal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,21-Feb-2023 09:34:32 AM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,303,0,5439.36,5136.36,233599763511,IS-HAD MUSTAFA,67875639,22258294065,Cashin To-\n233599763511,Internal
32,21-Feb-2023 09:30:29 AM,57973180,Cecilia Atinyadi,233551513255,CASH_OUT,250,2.5,5189.36,5439.36,233591451241,MAXWELL FOSU NYARKOH,65223666,22258200176,NationalId--,Internal
33,21-Feb-2023 09:18:17 AM,59270697,MAXWELL NYARKO\nFOSU,233242149872,TRANSFER,4000,0,1189.36,5189.36,233591451241,MAXWELL FOSU NYARKOH,65223666,22257919934,1,Internal
34,21-Feb-2023 09:06:33 AM,58983462,Comfort Allotey,233555593019,CASH_OUT,30,0.5,1159.36,1189.36,233591451241,MAXWELL FOSU NYARKOH,65223666,22257651310,NationalId--,Internal
35,,,,,,,,,,,,,,,21-Feb-2023 03:46:50 PM\n65223666\n23359145124...

In [6]:
momo_data.columns = momo_data.iloc[0] #set column names equal to values in row index position 0
momo_data = momo_data[1:] # remove first row from DataFrame

In [7]:
momo_data.reset_index(drop=True, inplace=True)

In [8]:
momo_data

,TRANSACTION DATE,FROM ACCT,FROM NAME,FROM NO.,TRANS. TYPE,AMOUNT,FEES,BAL BEFORE,BAL AFTER,TO NO.,TO NAME,TO ACCT,F_ID,REF,OVA
0,31-Mar-2023 07:48:12 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,210,0,1764.24,1554.24,233244681179,Teddy Pendeglass Kissi,47508410,23222467375,Cashin To-\n233244681179,Internal
1,31-Mar-2023 07:47:49 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,200,0,1964.24,1764.24,233548054905,KISSI TEDDY,66016708,23222456200,Cashin To-\n233548054905,Internal
2,31-Mar-2023 07:39:32 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,30,0,1994.24,1964.24,233542482423,KELVIN APPIAH,71255668,23222206348,Cashin To-\n233542482423,Internal
3,31-Mar-2023 07:09:58 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,110,0,2104.24,1994.24,233540590150,GIDEON ATIAH,72580914,23221272044,Cashin To-\n233540590150,Internal
4,31-Mar-2023 07:01:26 PM,65223635,MAXWELL FOSU\nNYARKOH,233241435761,TRANSFER,200,0,1904.24,2104.24,233591451241,MAXWELL FOSU NYARKOH,65223666,23220963330,1,Internal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,21-Feb-2023 09:34:32 AM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,303,0,5439.36,5136.36,233599763511,IS-HAD MUSTAFA,67875639,22258294065,Cashin To-\n233599763511,Internal
59,21-Feb-2023 09:30:29 AM,57973180,Cecilia Atinyadi,233551513255,CASH_OUT,250,2.5,5189.36,5439.36,233591451241,MAXWELL FOSU NYARKOH,65223666,22258200176,NationalId--,Internal
60,21-Feb-2023 09:18:17 AM,59270697,MAXWELL NYARKO\nFOSU,233242149872,TRANSFER,4000,0,1189.36,5189.36,233591451241,MAXWELL FOSU NYARKOH,65223666,22257919934,1,Internal
61,21-Feb-2023 09:06:33 AM,58983462,Comfort Allotey,233555593019,CASH_OUT,30,0.5,1159.36,1189.36,233591451241,MAXWELL FOSU NYARKOH,65223666,22257651310,NationalId--,Internal
62,,,,,,,,,,,,,,,21-Feb-2023 03:46:50 PM\n65223666\n23359145124...

In [9]:
#Reading data from csv file

# momo_data = pd.read_csv(r'\Users\Chakdahah\Cleaned_Momo.csv', skipinitialspace = True)

# Clean whitespaces in colunn name and entire dataframe

momo_data =momo_data.rename(columns=lambda x: x.strip())
momo_data =momo_data.applymap(lambda x: x.strip() if isinstance(x, str) else x)

momo_data.head()

,TRANSACTION DATE,FROM ACCT,FROM NAME,FROM NO.,TRANS. TYPE,AMOUNT,FEES,BAL BEFORE,BAL AFTER,TO NO.,TO NAME,TO ACCT,F_ID,REF,OVA
0,31-Mar-2023 07:48:12 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,210,0,1764.24,1554.24,233244681179,Teddy Pendeglass Kissi,47508410,23222467375,Cashin To-\n233244681179,Internal
1,31-Mar-2023 07:47:49 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,200,0,1964.24,1764.24,233548054905,KISSI TEDDY,66016708,23222456200,Cashin To-\n233548054905,Internal
2,31-Mar-2023 07:39:32 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,30,0,1994.24,1964.24,233542482423,KELVIN APPIAH,71255668,23222206348,Cashin To-\n233542482423,Internal
3,31-Mar-2023 07:09:58 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,110,0,2104.24,1994.24,233540590150,GIDEON ATIAH,72580914,23221272044,Cashin To-\n233540590150,Internal
4,31-Mar-2023 07:01:26 PM,65223635,MAXWELL FOSU\nNYARKOH,233241435761,TRANSFER,200,0,1904.24,2104.24,233591451241,MAXWELL FOSU NYARKOH,65223666,23220963330,1,Internal

In [10]:

# remove unwanted characters from end of column names
# mmomo_data.rename(columns=lambda x: x.strip('.'),inplace =True)

# remove all unwanted char acters in column names
momo_data.rename(columns=lambda s: s.replace(".", ""), inplace=True)

# replace whitespaces with underscore
momo_data.rename(columns=lambda s: s.replace(" ", "_"), inplace=True)

In [11]:
# cast appropriate data types
momo_data['AMOUNT'] = pd.to_numeric(momo_data['AMOUNT'],errors='coerce')
momo_data['BAL_BEFORE'] = pd.to_numeric(momo_data['BAL_BEFORE'],errors='coerce')
momo_data['BAL_AFTER'] = pd.to_numeric(momo_data['BAL_AFTER'],errors='coerce')
momo_data['F_ID'] = pd.to_numeric(momo_data['F_ID'],errors='coerce')

In [12]:
momo_data.info(all)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   TRANSACTION_DATE  63 non-null     object
 1   FROM_ACCT         63 non-null     object
 2   FROM_NAME         63 non-null     object
 3   FROM_NO           63 non-null     object
 4   TRANS_TYPE        63 non-null     object
 5   AMOUNT            59 non-null     float64
 6   FEES              63 non-null     object
 7   BAL_BEFORE        59 non-null     float64
 8   BAL_AFTER         59 non-null     float64
 9   TO_NO             63 non-null     object
 10  TO_NAME           63 non-null     object
 11  TO_ACCT           63 non-null     object
 12  F_ID              60 non-null     float64
 13  REF               63 non-null     object
 14  OVA               63 non-null     object
dtypes: float64(4), object(11)
memory usage: 7.5+ KB

In [13]:
#Suppressing any scientific notation in entire csv file.

pd.set_option('display.float_format', lambda x: '%.0f' % x)

In [14]:
momo_data.head()

,TRANSACTION_DATE,FROM_ACCT,FROM_NAME,FROM_NO,TRANS_TYPE,AMOUNT,FEES,BAL_BEFORE,BAL_AFTER,TO_NO,TO_NAME,TO_ACCT,F_ID,REF,OVA
0,31-Mar-2023 07:48:12 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,210,0,1764,1554,233244681179,Teddy Pendeglass Kissi,47508410,23222467375,Cashin To-\n233244681179,Internal
1,31-Mar-2023 07:47:49 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,200,0,1964,1764,233548054905,KISSI TEDDY,66016708,23222456200,Cashin To-\n233548054905,Internal
2,31-Mar-2023 07:39:32 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,30,0,1994,1964,233542482423,KELVIN APPIAH,71255668,23222206348,Cashin To-\n233542482423,Internal
3,31-Mar-2023 07:09:58 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,110,0,2104,1994,233540590150,GIDEON ATIAH,72580914,23221272044,Cashin To-\n233540590150,Internal
4,31-Mar-2023 07:01:26 PM,65223635,MAXWELL FOSU\nNYARKOH,233241435761,TRANSFER,200,0,1904,2104,233591451241,MAXWELL FOSU NYARKOH,65223666,23220963330,1,Internal

In [15]:
m =momo_data['TRANSACTION_DATE'].str.split(' ', expand=True)

In [16]:

momo_data['TRANSACTION_DATE'] = m[0]
momo_data['TRANSACTION_TIME'] = m[1]

In [17]:
# shift column 'C' to first position
first_column = momo_data.pop('TRANSACTION_TIME')
  
# insert column using insert(position,column_name,first_column) function
momo_data.insert(1, 'TRANSACTION_TIME', first_column)

In [18]:
momo_data.info(all)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   TRANSACTION_DATE  63 non-null     object
 1   TRANSACTION_TIME  60 non-null     object
 2   FROM_ACCT         63 non-null     object
 3   FROM_NAME         63 non-null     object
 4   FROM_NO           63 non-null     object
 5   TRANS_TYPE        63 non-null     object
 6   AMOUNT            59 non-null     float64
 7   FEES              63 non-null     object
 8   BAL_BEFORE        59 non-null     float64
 9   BAL_AFTER         59 non-null     float64
 10  TO_NO             63 non-null     object
 11  TO_NAME           63 non-null     object
 12  TO_ACCT           63 non-null     object
 13  F_ID              60 non-null     float64
 14  REF               63 non-null     object
 15  OVA               63 non-null     object
dtypes: float64(4), object(12)
memory usage: 8.0+ KB

In [19]:
momo_data['FROM_NAME'] = momo_data.FROM_NAME.str.replace('\n',' ')

In [20]:
momo_data.tail()

,TRANSACTION_DATE,TRANSACTION_TIME,FROM_ACCT,FROM_NAME,FROM_NO,TRANS_TYPE,AMOUNT,FEES,BAL_BEFORE,BAL_AFTER,TO_NO,TO_NAME,TO_ACCT,F_ID,REF,OVA
58,21-Feb-2023,09:34:32,65223666,MAXWELL FOSU NYARKOH,233591451241,CASH_IN,303,0,5439,5136,233599763511,IS-HAD MUSTAFA,67875639,22258294065,Cashin To-\n233599763511,Internal
59,21-Feb-2023,09:30:29,57973180,Cecilia Atinyadi,233551513255,CASH_OUT,250,2.5,5189,5439,233591451241,MAXWELL FOSU NYARKOH,65223666,22258200176,NationalId--,Internal
60,21-Feb-2023,09:18:17,59270697,MAXWELL NYARKO FOSU,233242149872,TRANSFER,4000,0,1189,5189,233591451241,MAXWELL FOSU NYARKOH,65223666,22257919934,1,Internal
61,21-Feb-2023,09:06:33,58983462,Comfort Allotey,233555593019,CASH_OUT,30,0.5,1159,1189,233591451241,MAXWELL FOSU NYARKOH,65223666,22257651310,NationalId--,Internal
62,,None,,,,,NaN,,NaN,NaN,,,,NaN,,21-Feb-2023 03:46:50 PM\n65223666\n23359145124...

In [21]:
num=momo_data.loc[momo_data['TRANS_TYPE'] == 'CASH_IN', 'FROM_NO'].iloc[0]
num

'233591451241'

In [22]:
name=momo_data.loc[momo_data['TRANS_TYPE'] == 'CASH_IN', 'FROM_NAME'].iloc[0]
name

'MAXWELL FOSU NYARKOH'

In [23]:
momo_data[~momo_data.iloc[:,0].str.contains("\n")]

,TRANSACTION_DATE,TRANSACTION_TIME,FROM_ACCT,FROM_NAME,FROM_NO,TRANS_TYPE,AMOUNT,FEES,BAL_BEFORE,BAL_AFTER,TO_NO,TO_NAME,TO_ACCT,F_ID,REF,OVA
0,31-Mar-2023,07:48:12,65223666,MAXWELL FOSU NYARKOH,233591451241,CASH_IN,210,0,1764,1554,233244681179,Teddy Pendeglass Kissi,47508410,23222467375,Cashin To-\n233244681179,Internal
1,31-Mar-2023,07:47:49,65223666,MAXWELL FOSU NYARKOH,233591451241,CASH_IN,200,0,1964,1764,233548054905,KISSI TEDDY,66016708,23222456200,Cashin To-\n233548054905,Internal
2,31-Mar-2023,07:39:32,65223666,MAXWELL FOSU NYARKOH,233591451241,CASH_IN,30,0,1994,1964,233542482423,KELVIN APPIAH,71255668,23222206348,Cashin To-\n233542482423,Internal
3,31-Mar-2023,07:09:58,65223666,MAXWELL FOSU NYARKOH,233591451241,CASH_IN,110,0,2104,1994,233540590150,GIDEON ATIAH,72580914,23221272044,Cashin To-\n233540590150,Internal
4,31-Mar-2023,07:01:26,65223635,MAXWELL FOSU NYARKOH,233241435761,TRANSFER,200,0,1904,2104,233591451241,MAXWELL FOSU NYARKOH,65223666,23220963330,1,Internal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,21-Feb-2023,09:34:32,65223666,MAXWELL FOSU NYARKOH,233591451241,CASH_IN,303,0,5439,5136,233599763511,IS-HAD MUSTAFA,67875639,22258294065,Cashin To-\n233599763511,Internal
59,21-Feb-2023,09:30:29,57973180,Cecilia Atinyadi,233551513255,CASH_OUT,250,2.5,5189,5439,233591451241,MAXWELL FOSU NYARKOH,65223666,22258200176,NationalId--,Internal
60,21-Feb-2023,09:18:17,59270697,MAXWELL NYARKO FOSU,233242149872,TRANSFER,4000,0,1189,5189,233591451241,MAXWELL FOSU NYARKOH,65223666,22257919934,1,Internal
61,21-Feb-2023,09:06:33,58983462,Comfort Allotey,233555593019,CASH_OUT,30,0.5,1159,1189,233591451241,MAXWELL FOSU NYARKOH,65223666,22257651310,NationalId--,Internal
62,,None,,,,,NaN,,NaN,NaN,,,,NaN,,21-Feb-2023 03:46:50 PM\n65223666\n23359145124...

In [24]:
df3=momo_data.loc[momo_data['TRANS_TYPE'] == 'CASH_IN', 'FROM_NAME'].iloc[0]
df3

'MAXWELL FOSU NYARKOH'

In [25]:
momo_data =momo_data.dropna()

In [26]:
momo_data['TRANSACTION_DATE'] = pd.to_datetime(momo_data['TRANSACTION_DATE'])

In [27]:
## convert momo_data to csv
momo_data.to_csv(r'C:\Users\Chakdahah\Downloads\Django-main\Django-main\analytics_project\StrippedMomotoCSV200.csv',date_format='%d/%m/%Y')

momo_data.to_excel("StrippedMomotoXLS.xlsx")

In [28]:
# Set empty list and dict
masterData = []
userData= {}

# Calculation of scoring parameters

In [29]:

rows = momo_data.count()[0] # Agent Frequency of use
userData["freq_of_active"] = rows



MOMO=momo_data[(momo_data == 'CASH_IN').any(axis=1)] # frequency of rebalance
MOMOR = MOMO.count()[0]
userData["freq_of_repl"] = MOMOR



meadnie = momo_data.loc[momo_data['TRANS_TYPE']=='CASH_IN','AMOUNT'].median() #Median Cash-In for last 90days
# userData["mead_cash_in"] = meadnie
# userData["mead_cash_in"]
userData["mead_cash_in_calc"] = meadnie*4


modnie = momo_data.loc[momo_data['TRANS_TYPE']=='CASH_IN','AMOUNT'].mode() # Mode Cash-In for last 90 days
userData["modnie_cash_in_calc"] = modnie*4
userData["modnie_cash_in_calc"] = userData["modnie_cash_in_calc"]*4
userData["modnie_cash_in_calc"] = max(userData["modnie_cash_in_calc"])


meadniout = momo_data.loc[momo_data['TRANS_TYPE']=='CASH_OUT','AMOUNT'].median() # Median Cash-Out for last 90 days
# userData["mead_cash_out"] = meadniout
# userData["mead_cash_out"]
userData["mead_cash_out_calc"] = meadniout*4


modno = momo_data.loc[momo_data['TRANS_TYPE']=='CASH_OUT','AMOUNT'].mode() # Mode Cash-Out for last 90 days
userData["modno_cash_out_calc"] = modno*4 
userData["modno_cash_out_calc"] = userData["modno_cash_out_calc"]*4
userData["modno_cash_out_calc"] = max(userData["modno_cash_out_calc"])

# Scoring Criteria Calculation

In [30]:
user_copy = userData.copy()
masterData.append(user_copy)

In [31]:
### scoring

inelligible = []
elligible = []
score_table = []
scoring_table = {}

In [32]:
scoring_table["id Number"] = num
scoring_table["Agent Name"] = name

In [33]:
Credit_score = 100

# default 3 months
scoring_table["Length of Service"] = 100


for index in range(len(masterData)):

    ## Frequency of use  >= 65 transactions(count) in total

    if masterData[index]["freq_of_active"]> 65 and masterData[index]["freq_of_active"] <= 75:
        user_copy = masterData[index]
#         print(user_copy)
        Credit_score += 50
        scoring_table["Frequency of Activity"] = 50
    elif masterData[index]["freq_of_active"]> 75:
        elig_copy = masterData[index]
        Credit_score+= 100
        scoring_table["Frequency of Activity"] = 100
    else:
        scoring_table["Frequency of Activity"] = 0


        

        
        
#Agent Frequency of rebalance - >= 45 inbound(count) in total

    if masterData[index]["freq_of_repl"]>= 45 and masterData[index]["freq_of_repl"] <= 54:
        user_copy = masterData[index]
        Credit_score += 50 
        scoring_table["Frequency of Rebalance"] = 50
    elif masterData[index]["freq_of_active"]> 54:
        elig_copy = masterData[index]
        Credit_score+= 100
        scoring_table["Frequency of Rebalance"] = 100
    else:
        scoring_table["Frequency of Rebalance"] = 0
        

        
        
        # Median Cash-In for last 90 days - avg. txn amnt - ghs5000 

        
    if masterData[index]["mead_cash_in_calc"] >= 5000:
        user_copy = masterData[index]
        Credit_score += 50
        scoring_table["Median Cash In"] = 50
    else:
        Credit_score+= 0
        scoring_table["Median Cash In"] = 0

        
        
          # Mode Cash-In for last 90 days - lowest amnt cash in - ghs1000 

        
    if masterData[index]["modnie_cash_in_calc"] >= 1000:
        user_copy = masterData[index]
        Credit_score += 50 
        scoring_table["Mode Cash In"] = 50
        
    else:
        elig_copy = masterData[index]
        Credit_score+= 0
        scoring_table["Mode Cash In"] = 0
        
        
        
       # Median Cash-Out for last 90 days - avg. txn amnt - ghs5000


    if masterData[index]["mead_cash_out_calc"] > 5000:
        user_copy = masterData[index]
        Credit_score += 50 
        scoring_table["Median Cash Out"] = 50
    else:
        elig_copy = masterData[index]
        Credit_score+= 0
        scoring_table["Median Cash Out"] = 0
        
#     Mode Cash-Out for last 90 days - lowest amnt cash out - ghs1000 
        
    if masterData[index]["modno_cash_out_calc"] >= 1000:
        user_copy = masterData[index]
        Credit_score += 50 
        scoring_table["Mode Cash Out"] = 50
    else:
        elig_copy = masterData[index]
        Credit_score+= 0   
        scoring_table["Mode Cash Out"]
    

#         print(elig_copy)
scoring_table["Credit Score"] = Credit_score
score_table.append(scoring_table)

# Applying scores to Merchants

In [34]:
    
    if Credit_score >= 200 and Credit_score <= 250:
        print("You qualify for a GHS 1000 loan")
        scoring_table["Eligibility"] = 1000

    elif Credit_score >= 251 and Credit_score <= 350:
        print("You qualify for a GHS 2000 loan")
        scoring_table["Eligibility"] = 2000

    elif Credit_score >= 351 and Credit_score <= 400:
        print("You qualify for a GHS 3000 loan")
        scoring_table["Eligibility"] = 3000


    elif Credit_score >= 401 and Credit_score <= 500:
        print("You qualify for a GHS 5000 loan")
        scoring_table["Eligibility"] = 5000

You qualify for a GHS 2000 loan

In [35]:
elligible.append(elig_copy)

In [36]:
print("Elligible", elligible)

Elligible [{'freq_of_active': 59, 'freq_of_repl': 26, 'mead_cash_in_calc': 1010.0, 'modnie_cash_in_calc': 4848.0, 'mead_cash_out_calc': 800.0, 'modno_cash_out_calc': 6400.0}]

In [37]:
Credit_score

300

In [38]:
elligible

[{'freq_of_active': 59,
  'freq_of_repl': 26,
  'mead_cash_in_calc': 1010.0,
  'modnie_cash_in_calc': 4848.0,
  'mead_cash_out_calc': 800.0,
  'modno_cash_out_calc': 6400.0}]

In [39]:
type(elligible)

list

In [40]:
score_table = pd.DataFrame.from_dict(score_table)
score_table

,id Number,Agent Name,Length of Service,Frequency of Activity,Frequency of Rebalance,Median Cash In,Mode Cash In,Median Cash Out,Mode Cash Out,Credit Score,Eligibility
0,233591451241,MAXWELL FOSU NYARKOH,100,0,100,0,50,0,50,300,2000

In [41]:
score_table.to_csv(r'C:\Users\Chakdahah\Downloads\Django-main\Django-main\analytics_project\scoretable.csv')

In [42]:
### convert dict to df

elligible = pd.DataFrame.from_dict(elligible)
elligible

,freq_of_active,freq_of_repl,mead_cash_in_calc,modnie_cash_in_calc,mead_cash_out_calc,modno_cash_out_calc
0,59,26,1010,4848,800,6400

In [43]:
type(elligible)

pandas.core.frame.DataFrame

In [44]:
elligible.to_csv(r'C:\Users\Chakdahah\Downloads\Django-main\Django-main\analytics_project\elligible.csv')

# Score and risk grade table

In [45]:
details = {
    'Risk Ranking' : ['RR-1', 'RR-2', 'RR-3', 'RR-4'],
    'Minimum Score' : [200,251,351,401],
    'Maximum Score' : [250,350,400,500],
    'Qualifying Amount(GHS)':[1000,2000,3000,5000]
}
  
# creating a Dataframe object 
df = pd.DataFrame(details)
df

  Risk Ranking  Minimum Score  Maximum Score  Qualifying Amount(GHS)
0         RR-1            200            250                    1000
1         RR-2            251            350                    2000
2         RR-3            351            400                    3000
3         RR-4            401            500                    5000