# Agent Loan Decisioning

In [104]:
import sys
import datetime
from datetime import date,timedelta
import numpy as np
import pandas as pd
import camelot
import matplotlib.pyplot as plt

In [105]:
# sys.maxsize
# 2147483647


Qualifying Matrix

1.	Agent Length of Service - 3 months

2.	Agent Frequency of use/activity - >= 65 transactions(count) in total

3.	Agent Frequency of rebalance - >= 45 inbound(count) in total

4.	Median Cash-In for last 90 days - avg. txn amnt - ghs5000 

5.	Mode Cash-In for last 90 days - lowest amnt cash in - ghs1000 

6.	Median Cash-Out for last 90 days - avg. txn amnt - ghs5000

7.	Mode Cash-Out for last 90 days - lowest amnt cash out - ghs1000

In [106]:

##### full pdf reading

# tables = camelot.read_pdf(r'C:\Users\Chakdahah\MomoStatementReport.pdf',pages='all') #emma data
# tables = camelot.read_pdf(r'C:\Users\Chakdahah\MomoStatement2.pdf',pages='all') #prince momo agent2
# tables = camelot.read_pdf(r'C:\Users\Chakdahah\momopages2.pdf',pages='all') # 2 pages prince
# tables = camelot.read_pdf(r'C:\Users\Chakdahah\Momopages3.pdf',pages='all') #50 pages prince
tables = camelot.read_pdf(r'C:\Users\Chakdahah\lastlast.pdf',pages='all') # 5 pages prince containig each month

tables



# tables[j].parsing_report #check parsing report to see accuracy of parsing and other details

# append to one csv file

table_fin = tables[0].df #convert first table to df and assign to variable 

for i in range(1,len(tables)-1): # skip 0-nth of tables
    print(i)
    t = tables[i].df 
    t.drop(t.index[0], inplace = True) # drop first row of df
    table_fin = pd.concat([table_fin, t], axis = 0)
    

    print(t)

1
                                                   0                       1   \
1                             31-Mar-2023 01:47:07 PM                65223666
2                             31-Mar-2023 01:42:22 PM                65223666
3   31-Mar-2023 01:34:52 PM\nTRANSACTION DATE\n31-...  0\nFROM ACCT\n60384156
4
5
6                             31-Mar-2023 01:29:48 PM                       0
7                             31-Mar-2023 01:29:48 PM                52266321
8                             31-Mar-2023 01:27:17 PM                65223666
9                             31-Mar-2023 01:22:29 PM                       0
10                            31-Mar-2023 01:22:29 PM                50002947
11                            31-Mar-2023 01:07:04 PM                65223666
12                            31-Mar-2023 01:04:59 PM                65223666
13                            31-Mar-2023 12:57:17 PM                65223635
14                            31-Mar-2023 12:46:22 PM                       0
15                            31-Mar-2023 12:46:22 PM                70081595
16                            31-Mar-2023 12:37:13 PM                47086364
17                            31-Mar-2023 12:37:13 PM                       0
18                            31-Mar-2023 12:24:53 PM                65223666
19                            31-Mar-2023 12:24:10 PM                59270697
20                            31-Mar-2023 12:11:04 PM                65223666
21                            31-Mar-2023 12:10:23 PM                65223666
22                            31-Mar-2023 12:09:07 PM                65223666
23                            31-Mar-2023 12:07:33 PM                56080069
24                            31-Mar-2023 11:40:16 AM                65223666
25                            31-Mar-2023 11:33:03 AM                65223666
26                            31-Mar-2023 11:16:58 AM                65223666
27                            31-Mar-2023 11:07:45 AM                70408289
28                            31-Mar-2023 10:49:38 AM                65223666
29                            31-Mar-2023 10:48:26 AM                65223666
30                            31-Mar-2023 10:46:30 AM                       0
31                            31-Mar-2023 10:46:30 AM                46308404
32                            31-Mar-2023 10:36:44 AM                65223666
33                            31-Mar-2023 10:28:27 AM                65223666

                               2                          3   \
1           MAXWELL FOSU\nNYARKOH               233591451241
2           MAXWELL FOSU\nNYARKOH               233591451241
3     FROM NAME\nClement Abaapoli  0\nFROM NO.\n233541196584
4
5
6                                                          0
7         Akanjokook\nAsaalabadek               233550079833
8           MAXWELL FOSU\nNYARKOH               233591451241
9                                                          0
10                    DORIS OPOKU               233249170130
11          MAXWELL FOSU\nNYARKOH               233591451241
12          MAXWELL FOSU\nNYARKOH               233591451241
13          MAXWELL FOSU\nNYARKOH               233241435761
14                                                         0
15                    MARY MENSAH               233249461298
16                   Jeffrey Osei               233247722649
17                                                         0
18          MAXWELL FOSU\nNYARKOH               233591451241
19           MAXWELL NYARKO\nFOSU               233242149872
20          MAXWELL FOSU\nNYARKOH               233591451241
21          MAXWELL FOSU\nNYARKOH               233591451241
22          MAXWELL FOSU\nNYARKOH               233591451241
23  VENTURES FOSU\nNYARKO MAXWELL               233245598332
24          MAXWELL FOSU\nNYARKOH               233591451241
25          MAXWELL FOSU\nNYARKOH               233591451241
26          MAXWELL FOSU\nNYARKOH               233591451241
27  FOSTER KOLOG\nBAGBINIME YIDAN               233598559483
28          MAXWELL FOSU\nNYARKOH               233591451241
29          MAXWELL FOSU\nNYARKOH               233591451241
30                                                         0
31                 Dorcas Obuobia               233553366569
32          MAXWELL FOSU\nNYARKOH               233591451241
33          MAXWELL FOSU\nNYARKOH               233591451241

                                      4                  5             6   \
1                                CASH_IN                404             0
2                                CASH_IN               4020             0
3   COMMISSIONING\nTRANS. TYPE\nCASH_OUT  0.72\nAMOUNT\n180  0\nFEES\n1.8
4
5
6                          COMMISSIONING                0.4             0
7                               CASH_OUT                100             1
8                                CASH_IN                109             0
9                          COMMISSIONING                  1             0
10                              CASH_OUT                250           2.5
11                               CASH_IN                101             0
12                               CASH_IN                101             0
13                              TRANSFER                900             0
14                         COMMISSIONING                  4             0
15                              CASH_OUT               1000            10
16                              CASH_OUT                 50           0.5
17                         COMMISSIONING                0.2             0
18                               CASH_IN               2600             0
19                              TRANSFER               4000             0
20                              TRANSFER               3000             0
21                               CASH_IN               1210             0
22                               CASH_IN               1600             0
23                              TRANSFER               5000             0
24                               CASH_IN               2110             0
25                               CASH_IN               50.5             0
26                               CASH_IN               20.5             0
27                              TRANSFER               2500             0
28                               CASH_IN                 71             0
29                               CASH_IN               20.5             0
30                         COMMISSIONING                0.8             0
31                              CASH_OUT                200             2
32                               CASH_IN              222.5             0
33                               CASH_IN              252.5             0

                             7                           8   \
1                        849.24                      445.24
2                       4869.24                      849.24
3   293.15\nBAL BEFORE\n4689.24  293.87\nBAL AFTER\n4869.24
4
5
6                        292.75                      293.15
7                       4589.24                     4689.24
8                       4698.24                     4589.24
9                        291.75                      292.75
10                      4448.24                     4698.24
11                      4549.24                     4448.24
12                      4650.24                     4549.24
13                      3750.24                     4650.24
14                       287.75                      291.75
15                      2750.24                     3750.24
16                      2700.24                     2750.24
17                       287.55                      287.75
18                      5300.24                     2700.24
19                      1300.24                     5300.24
20                      4300.24                     1300.24
21                      5510.24                     4300.24
22                      7110.24                     5510.24
23                      2110.24                     7110.24
24                      4220.24                     2110.24
25                      4270.74                     4220.24
26                      4291.24                     4270.74
27                      1791.24                     4291.24
28                      1862.24                     1791.24
29                      1882.74                     1862.24
30                       286.75                      287.55
31                      1682.74                     1882.74
32                      1905.24                     1682.74
33                      2157.74                     1905.24

                                    9   \
1                         233248097693
2                         233256890485
3   233591451241\nTO NO.\n233591451241
4
5
6                         233591451241
7                         233591451241
8                         233246578356
9                         233591451241
10                        233591451241
11                        233597027466
12                        233243012992
13                        233591451241
14                        233591451241
15                        233591451241
16                        233591451241
17                        233591451241
18                        233257549512
19                        233591451241
20                        233598623456
21                        233245296711
22                        233545158360
23                        233591451241
24                        233245749958
25                        233597008693
26                        233555686885
27                        233591451241
28                        233530615475
29                        233540932311
30                        233591451241
31                        233591451241
32                        233557590369
33                        233543564023

                                                   10  \
1                                      Adetor Charity
2                                       GIFTY ATINEKU
3   MAXWELL FOSU NYARKOH\nTO NAME\nMAXWELL FOSU NY...
4
5
6                                MAXWELL FOSU NYARKOH
7                                MAXWELL FOSU NYARKOH
8                                        Rose Dwertee
9                                MAXWELL FOSU NYARKOH
10                               MAXWELL FOSU NYARKOH
11                                     HUBERT DAMPTEY
12                                    Milicent Adubea
13                               MAXWELL FOSU NYARKOH
14                               MAXWELL FOSU NYARKOH
15                               MAXWELL FOSU NYARKOH
16                               MAXWELL FOSU NYARKOH
17                               MAXWELL FOSU NYARKOH
18                                      LETICIA ADJEI
19                               MAXWELL FOSU NYARKOH
20                                        LARIZO BAWA
21                                       Musah Katama
22                                         Yaa Serwaa
23                               MAXWELL FOSU NYARKOH
24                              KOFI BOATENG AGYAPONG
25                                   MICHAEL LADZAKAH
26                                       MARCIA ZAALA
27                               MAXWELL FOSU NYARKOH
28                                        NAOMI ADUAM
29                                  Elizabeth Ametefe
30                               MAXWELL FOSU NYARKOH
31                               MAXWELL FOSU NYARKOH
32                                      PHILIP TETTEH
33                                     Patrick Mensah

                             11                              12  \
1                      47909765                     23210511424
2                      69253333                     23210375593
3   65223666\nTO ACCT\n65223666  23210163958\nF_ID\n23210163958
4
5
6                      65223666                     23210020815
7                      65223666                     23210020815
8                      41987828                     23209951852
9                      65223666                     23209820585
10                     65223666                     23209820585
11                     72883412                     23209401703
12                     46324736                     23209344691
13                     65223666                     23209134165
14                     65223666                     23208843705
15                     65223666                     23208843705
16                     65223666                     23208600371
17                     65223666                     23208600371
18                     71083619                     23208266503
19                     65223666                     23208246440
20                     74884309                     23207882339
21                     56680170                     23207863334
22                     44608677                     23207828553
23                     65223666                     23207784625
24                     71876217                     23207020792
25                     70772426                     23206818828
26                     71387810                     23206363900
27                     65223666                     23206098629
28                     75627861                     23205571259
29                     55818262                     23205536680
30                     65223666                     23205480313
31                     65223666                     23205480313
32                     65761110                     23205192714
33                     39617427                     23204946653

                          13                       14
1   Cashin To-\n233248097693                 Internal
2   Cashin To-\n233256890485                 Internal
3          REF\nNationalId--  Internal\nOVA\nInternal
4
5
6                                            Internal
7               NationalId--                 Internal
8   Cashin To-\n233246578356                 Internal
9                                            Internal
10              NationalId--                 Internal
11  Cashin To-\n233597027466                 Internal
12  Cashin To-\n233243012992                 Internal
13                         1                 Internal
14                                           Internal
15              NationalId--                 Internal
16              NationalId--                 Internal
17                                           Internal
18  Cashin To-\n233257549512                 Internal
19                         1                 Internal
20                         1                 Internal
21  Cashin To-\n233245296711                 Internal
22  Cashin To-\n233545158360                 Internal
23                         1                 Internal
24  Cashin To-\n233245749958                 Internal
25  Cashin To-\n233597008693                 Internal
26  Cashin To-\n233555686885                 Internal
27                         1                 Internal
28  Cashin To-\n233530615475                 Internal
29  Cashin To-\n233540932311                 Internal
30                                           Internal
31              NationalId--                 Internal
32  Cashin To-\n233557590369                 Internal
33  Cashin To-\n233543564023                 Internal
2
                                           0                    1   \
1                     21-Feb-2023 06:57:16 PM             56080069
2                     21-Feb-2023 06:55:27 PM             67730001
3   21-Feb-2023 06:50:55 PM\nTRANSACTION DATE  65223666\nFROM ACCT
4                     21-Feb-2023 06:50:16 PM             65223666
5                     21-Feb-2023 06:49:25 PM             65223666
6                     21-Feb-2023 06:44:59 PM             65223666
7                     21-Feb-2023 06:41:35 PM             65223666
8                     21-Feb-2023 06:35:55 PM             65223666
9                     21-Feb-2023 06:22:52 PM             63887065
10                    21-Feb-2023 06:08:30 PM             65223666
11                    21-Feb-2023 06:06:58 PM             48142155
12                    21-Feb-2023 06:00:44 PM             59270697
13                    21-Feb-2023 05:53:43 PM             65223666
14                    21-Feb-2023 05:51:07 PM             51499534
15                    21-Feb-2023 05:49:00 PM             65223666
16                    21-Feb-2023 05:40:42 PM             43284175
17                    21-Feb-2023 05:39:01 PM             65223666
18                    21-Feb-2023 05:38:22 PM             70004504
19                    21-Feb-2023 05:29:25 PM             65223666
20                    21-Feb-2023 05:26:56 PM             65223666
21                    21-Feb-2023 05:24:22 PM             65223666
22                    21-Feb-2023 05:05:19 PM             70538530
23                    21-Feb-2023 04:52:50 PM             65223666
24                    21-Feb-2023 04:46:33 PM             65223635
25                    21-Feb-2023 04:14:48 PM             65223666
26                    21-Feb-2023 04:14:05 PM             65223666
27                    21-Feb-2023 04:12:56 PM             65223635
28                    21-Feb-2023 04:09:33 PM             65223666
29                    21-Feb-2023 04:06:27 PM             65223666
30                    21-Feb-2023 03:46:50 PM             65223666

                                  2                       3   \
1      VENTURES FOSU\nNYARKO MAXWELL            233245598332
2                          VERA GYAN            233542510964
3   MAXWELL FOSU\nNYARKOH\nFROM NAME  233591451241\nFROM NO.
4              MAXWELL FOSU\nNYARKOH            233591451241
5              MAXWELL FOSU\nNYARKOH            233591451241
6              MAXWELL FOSU\nNYARKOH            233591451241
7              MAXWELL FOSU\nNYARKOH            233591451241
8              MAXWELL FOSU\nNYARKOH            233591451241
9               MAXWELL FOSU\nNYARKO            233591451242
10             MAXWELL FOSU\nNYARKOH            233591451241
11         Prince Tetteh\nGidimadjor            233242402977
12              MAXWELL NYARKO\nFOSU            233242149872
13             MAXWELL FOSU\nNYARKOH            233591451241
14                       MERCY ARKOH            233557954806
15             MAXWELL FOSU\nNYARKOH            233591451241
16                 Benedicta Amoakoa            233547657701
17             MAXWELL FOSU\nNYARKOH            233591451241
18                      JANET BREFOA            233542306924
19             MAXWELL FOSU\nNYARKOH            233591451241
20             MAXWELL FOSU\nNYARKOH            233591451241
21             MAXWELL FOSU\nNYARKOH            233591451241
22           ANTHONY DWOMOH\nBOATENG            233597126932
23             MAXWELL FOSU\nNYARKOH            233591451241
24             MAXWELL FOSU\nNYARKOH            233241435761
25             MAXWELL FOSU\nNYARKOH            233591451241
26             MAXWELL FOSU\nNYARKOH            233591451241
27             MAXWELL FOSU\nNYARKOH            233241435761
28             MAXWELL FOSU\nNYARKOH            233591451241
29             MAXWELL FOSU\nNYARKOH            233591451241
30                      MAXWELL FOSU            233591451241

                      4            5        6                     7   \
1               TRANSFER        10000        0              16251.86
2               CASH_OUT           20      0.5              16231.86
3   CASH_IN\nTRANS. TYPE  505\nAMOUNT  0\nFEES  16736.86\nBAL BEFORE
4                CASH_IN          400        0              17136.86
5               TRANSFER         1480        0              18616.86

In [107]:
# Assign tables into momo data variable

momo_data = table_fin
momo_data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,TRANSACTION DATE,FROM ACCT,FROM NAME,FROM NO.,TRANS. TYPE,AMOUNT,FEES,BAL BEFORE,BAL AFTER,TO NO.,TO NAME,TO ACCT,F_ID,REF,OVA
1,31-Mar-2023 07:48:12 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,210,0,1764.24,1554.24,233244681179,Teddy Pendeglass Kissi,47508410,23222467375,Cashin To-\n233244681179,Internal
2,31-Mar-2023 07:47:49 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,200,0,1964.24,1764.24,233548054905,KISSI TEDDY,66016708,23222456200,Cashin To-\n233548054905,Internal
3,31-Mar-2023 07:39:32 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,30,0,1994.24,1964.24,233542482423,KELVIN APPIAH,71255668,23222206348,Cashin To-\n233542482423,Internal
4,31-Mar-2023 07:09:58 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,110,0,2104.24,1994.24,233540590150,GIDEON ATIAH,72580914,23221272044,Cashin To-\n233540590150,Internal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,28-Jan-2023 08:39:39 AM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,25.5,0,522.2,496.7,233541403149,Elizabeth Dzoka,53878073,21745041950,Cashin To-\n233541403149,Internal
36,28-Jan-2023 08:39:06 AM,0,,0,COMMISSIONING,1.14,0,235.6,236.74,233591451241,MAXWELL FOSU NYARKOH,65223666,21745031302,,Internal
37,28-Jan-2023 08:39:06 AM,41861402,Rebecca Caro,233243931345,CASH_OUT,285,2.85,237.2,522.2,233591451241,MAXWELL FOSU NYARKOH,65223666,21745031302,NationalId--,Internal
38,28-Jan-2023 08:33:21 AM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,454,0,691.2,237.2,233256519321,DORIS NIMAKO,69336653,21744920822,Cashin To-\n233256519321,Internal
39,28-Jan-2023 08:28:29 AM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,202,0,893.2,691.2,233599835915,FAUSTINA NTORI,67458540,21744827791,Cashin To-\n233599835915,28-Jan-2023 11:10:46 AM\n0\n0\nCOMMISSIONING\n...

In [108]:
momo_data[~momo_data.iloc[:,0].str.contains("\n")]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,TRANSACTION DATE,FROM ACCT,FROM NAME,FROM NO.,TRANS. TYPE,AMOUNT,FEES,BAL BEFORE,BAL AFTER,TO NO.,TO NAME,TO ACCT,F_ID,REF,OVA
1,31-Mar-2023 07:48:12 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,210,0,1764.24,1554.24,233244681179,Teddy Pendeglass Kissi,47508410,23222467375,Cashin To-\n233244681179,Internal
2,31-Mar-2023 07:47:49 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,200,0,1964.24,1764.24,233548054905,KISSI TEDDY,66016708,23222456200,Cashin To-\n233548054905,Internal
3,31-Mar-2023 07:39:32 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,30,0,1994.24,1964.24,233542482423,KELVIN APPIAH,71255668,23222206348,Cashin To-\n233542482423,Internal
4,31-Mar-2023 07:09:58 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,110,0,2104.24,1994.24,233540590150,GIDEON ATIAH,72580914,23221272044,Cashin To-\n233540590150,Internal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,28-Jan-2023 08:39:39 AM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,25.5,0,522.2,496.7,233541403149,Elizabeth Dzoka,53878073,21745041950,Cashin To-\n233541403149,Internal
36,28-Jan-2023 08:39:06 AM,0,,0,COMMISSIONING,1.14,0,235.6,236.74,233591451241,MAXWELL FOSU NYARKOH,65223666,21745031302,,Internal
37,28-Jan-2023 08:39:06 AM,41861402,Rebecca Caro,233243931345,CASH_OUT,285,2.85,237.2,522.2,233591451241,MAXWELL FOSU NYARKOH,65223666,21745031302,NationalId--,Internal
38,28-Jan-2023 08:33:21 AM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,454,0,691.2,237.2,233256519321,DORIS NIMAKO,69336653,21744920822,Cashin To-\n233256519321,Internal
39,28-Jan-2023 08:28:29 AM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,202,0,893.2,691.2,233599835915,FAUSTINA NTORI,67458540,21744827791,Cashin To-\n233599835915,28-Jan-2023 11:10:46 AM\n0\n0\nCOMMISSIONING\n...

In [109]:
momo_data.columns = momo_data.iloc[0] #set column names equal to values in row index position 0
momo_data = momo_data[1:] # remove first row from DataFrame

In [110]:
momo_data.reset_index(drop=True, inplace=True)

In [111]:
momo_data

,TRANSACTION DATE,FROM ACCT,FROM NAME,FROM NO.,TRANS. TYPE,AMOUNT,FEES,BAL BEFORE,BAL AFTER,TO NO.,TO NAME,TO ACCT,F_ID,REF,OVA
0,31-Mar-2023 07:48:12 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,210,0,1764.24,1554.24,233244681179,Teddy Pendeglass Kissi,47508410,23222467375,Cashin To-\n233244681179,Internal
1,31-Mar-2023 07:47:49 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,200,0,1964.24,1764.24,233548054905,KISSI TEDDY,66016708,23222456200,Cashin To-\n233548054905,Internal
2,31-Mar-2023 07:39:32 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,30,0,1994.24,1964.24,233542482423,KELVIN APPIAH,71255668,23222206348,Cashin To-\n233542482423,Internal
3,31-Mar-2023 07:09:58 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,110,0,2104.24,1994.24,233540590150,GIDEON ATIAH,72580914,23221272044,Cashin To-\n233540590150,Internal
4,31-Mar-2023 07:01:26 PM,65223635,MAXWELL FOSU\nNYARKOH,233241435761,TRANSFER,200,0,1904.24,2104.24,233591451241,MAXWELL FOSU NYARKOH,65223666,23220963330,1,Internal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,28-Jan-2023 08:39:39 AM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,25.5,0,522.2,496.7,233541403149,Elizabeth Dzoka,53878073,21745041950,Cashin To-\n233541403149,Internal
126,28-Jan-2023 08:39:06 AM,0,,0,COMMISSIONING,1.14,0,235.6,236.74,233591451241,MAXWELL FOSU NYARKOH,65223666,21745031302,,Internal
127,28-Jan-2023 08:39:06 AM,41861402,Rebecca Caro,233243931345,CASH_OUT,285,2.85,237.2,522.2,233591451241,MAXWELL FOSU NYARKOH,65223666,21745031302,NationalId--,Internal
128,28-Jan-2023 08:33:21 AM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,454,0,691.2,237.2,233256519321,DORIS NIMAKO,69336653,21744920822,Cashin To-\n233256519321,Internal
129,28-Jan-2023 08:28:29 AM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,202,0,893.2,691.2,233599835915,FAUSTINA NTORI,67458540,21744827791,Cashin To-\n233599835915,28-Jan-2023 11:10:46 AM\n0\n0\nCOMMISSIONING\n...

In [112]:
#Reading data from csv file

# momo_data = pd.read_csv(r'\Users\Chakdahah\Cleaned_Momo.csv', skipinitialspace = True)

# Clean whitespaces in colunn name and entire dataframe

momo_data =momo_data.rename(columns=lambda x: x.strip())
momo_data =momo_data.applymap(lambda x: x.strip() if isinstance(x, str) else x)

momo_data.head()

,TRANSACTION DATE,FROM ACCT,FROM NAME,FROM NO.,TRANS. TYPE,AMOUNT,FEES,BAL BEFORE,BAL AFTER,TO NO.,TO NAME,TO ACCT,F_ID,REF,OVA
0,31-Mar-2023 07:48:12 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,210,0,1764.24,1554.24,233244681179,Teddy Pendeglass Kissi,47508410,23222467375,Cashin To-\n233244681179,Internal
1,31-Mar-2023 07:47:49 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,200,0,1964.24,1764.24,233548054905,KISSI TEDDY,66016708,23222456200,Cashin To-\n233548054905,Internal
2,31-Mar-2023 07:39:32 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,30,0,1994.24,1964.24,233542482423,KELVIN APPIAH,71255668,23222206348,Cashin To-\n233542482423,Internal
3,31-Mar-2023 07:09:58 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,110,0,2104.24,1994.24,233540590150,GIDEON ATIAH,72580914,23221272044,Cashin To-\n233540590150,Internal
4,31-Mar-2023 07:01:26 PM,65223635,MAXWELL FOSU\nNYARKOH,233241435761,TRANSFER,200,0,1904.24,2104.24,233591451241,MAXWELL FOSU NYARKOH,65223666,23220963330,1,Internal

In [113]:

# remove unwanted characters from end of column names
# mmomo_data.rename(columns=lambda x: x.strip('.'),inplace =True)

# remove all unwanted char acters in column names
momo_data.rename(columns=lambda s: s.replace(".", ""), inplace=True)

# replace whitespaces with underscore
momo_data.rename(columns=lambda s: s.replace(" ", "_"), inplace=True)

In [114]:
# cast appropriate data types
momo_data['AMOUNT'] = pd.to_numeric(momo_data['AMOUNT'],errors='coerce')
momo_data['BAL_BEFORE'] = pd.to_numeric(momo_data['BAL_BEFORE'],errors='coerce')
momo_data['BAL_AFTER'] = pd.to_numeric(momo_data['BAL_AFTER'],errors='coerce')
momo_data['F_ID'] = pd.to_numeric(momo_data['F_ID'],errors='coerce')

In [115]:
momo_data.info(all)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   TRANSACTION_DATE  130 non-null    object
 1   FROM_ACCT         130 non-null    object
 2   FROM_NAME         130 non-null    object
 3   FROM_NO           130 non-null    object
 4   TRANS_TYPE        130 non-null    object
 5   AMOUNT            125 non-null    float64
 6   FEES              130 non-null    object
 7   BAL_BEFORE        125 non-null    float64
 8   BAL_AFTER         125 non-null    float64
 9   TO_NO             130 non-null    object
 10  TO_NAME           130 non-null    object
 11  TO_ACCT           130 non-null    object
 12  F_ID              125 non-null    float64
 13  REF               130 non-null    object
 14  OVA               130 non-null    object
dtypes: float64(4), object(11)
memory usage: 15.4+ KB

In [116]:
#Suppressing any scientific notation in entire csv file.

pd.set_option('display.float_format', lambda x: '%.0f' % x)

In [117]:
momo_data.head()

,TRANSACTION_DATE,FROM_ACCT,FROM_NAME,FROM_NO,TRANS_TYPE,AMOUNT,FEES,BAL_BEFORE,BAL_AFTER,TO_NO,TO_NAME,TO_ACCT,F_ID,REF,OVA
0,31-Mar-2023 07:48:12 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,210,0,1764,1554,233244681179,Teddy Pendeglass Kissi,47508410,23222467375,Cashin To-\n233244681179,Internal
1,31-Mar-2023 07:47:49 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,200,0,1964,1764,233548054905,KISSI TEDDY,66016708,23222456200,Cashin To-\n233548054905,Internal
2,31-Mar-2023 07:39:32 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,30,0,1994,1964,233542482423,KELVIN APPIAH,71255668,23222206348,Cashin To-\n233542482423,Internal
3,31-Mar-2023 07:09:58 PM,65223666,MAXWELL FOSU\nNYARKOH,233591451241,CASH_IN,110,0,2104,1994,233540590150,GIDEON ATIAH,72580914,23221272044,Cashin To-\n233540590150,Internal
4,31-Mar-2023 07:01:26 PM,65223635,MAXWELL FOSU\nNYARKOH,233241435761,TRANSFER,200,0,1904,2104,233591451241,MAXWELL FOSU NYARKOH,65223666,23220963330,1,Internal

In [118]:
m =momo_data['TRANSACTION_DATE'].str.split(' ', expand=True)

In [119]:

momo_data['TRANSACTION_DATE'] = m[0]
momo_data['TRANSACTION_TIME'] = m[1]

In [120]:
# shift column 'C' to first position
first_column = momo_data.pop('TRANSACTION_TIME')
  
# insert column using insert(position,column_name,first_column) function
momo_data.insert(1, 'TRANSACTION_TIME', first_column)

In [121]:
momo_data.info(all)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   TRANSACTION_DATE  130 non-null    object
 1   TRANSACTION_TIME  128 non-null    object
 2   FROM_ACCT         130 non-null    object
 3   FROM_NAME         130 non-null    object
 4   FROM_NO           130 non-null    object
 5   TRANS_TYPE        130 non-null    object
 6   AMOUNT            125 non-null    float64
 7   FEES              130 non-null    object
 8   BAL_BEFORE        125 non-null    float64
 9   BAL_AFTER         125 non-null    float64
 10  TO_NO             130 non-null    object
 11  TO_NAME           130 non-null    object
 12  TO_ACCT           130 non-null    object
 13  F_ID              125 non-null    float64
 14  REF               130 non-null    object
 15  OVA               130 non-null    object
dtypes: float64(4), object(12)
memory usage: 16.4+ KB

In [122]:
momo_data['FROM_NAME'] = momo_data.FROM_NAME.str.replace('\n',' ')

In [123]:
momo_data.tail()

,TRANSACTION_DATE,TRANSACTION_TIME,FROM_ACCT,FROM_NAME,FROM_NO,TRANS_TYPE,AMOUNT,FEES,BAL_BEFORE,BAL_AFTER,TO_NO,TO_NAME,TO_ACCT,F_ID,REF,OVA
125,28-Jan-2023,08:39:39,65223666,MAXWELL FOSU NYARKOH,233591451241,CASH_IN,26,0,522,497,233541403149,Elizabeth Dzoka,53878073,21745041950,Cashin To-\n233541403149,Internal
126,28-Jan-2023,08:39:06,0,,0,COMMISSIONING,1,0,236,237,233591451241,MAXWELL FOSU NYARKOH,65223666,21745031302,,Internal
127,28-Jan-2023,08:39:06,41861402,Rebecca Caro,233243931345,CASH_OUT,285,2.85,237,522,233591451241,MAXWELL FOSU NYARKOH,65223666,21745031302,NationalId--,Internal
128,28-Jan-2023,08:33:21,65223666,MAXWELL FOSU NYARKOH,233591451241,CASH_IN,454,0,691,237,233256519321,DORIS NIMAKO,69336653,21744920822,Cashin To-\n233256519321,Internal
129,28-Jan-2023,08:28:29,65223666,MAXWELL FOSU NYARKOH,233591451241,CASH_IN,202,0,893,691,233599835915,FAUSTINA NTORI,67458540,21744827791,Cashin To-\n233599835915,28-Jan-2023 11:10:46 AM\n0\n0\nCOMMISSIONING\n...

In [124]:
num=momo_data.loc[momo_data['TRANS_TYPE'] == 'CASH_IN', 'FROM_NO'].iloc[0]
num

'233591451241'

In [125]:
name=momo_data.loc[momo_data['TRANS_TYPE'] == 'CASH_IN', 'FROM_NAME'].iloc[0]
name

'MAXWELL FOSU NYARKOH'

In [126]:
momo_data[~momo_data.iloc[:,0].str.contains("\n")]

,TRANSACTION_DATE,TRANSACTION_TIME,FROM_ACCT,FROM_NAME,FROM_NO,TRANS_TYPE,AMOUNT,FEES,BAL_BEFORE,BAL_AFTER,TO_NO,TO_NAME,TO_ACCT,F_ID,REF,OVA
0,31-Mar-2023,07:48:12,65223666,MAXWELL FOSU NYARKOH,233591451241,CASH_IN,210,0,1764,1554,233244681179,Teddy Pendeglass Kissi,47508410,23222467375,Cashin To-\n233244681179,Internal
1,31-Mar-2023,07:47:49,65223666,MAXWELL FOSU NYARKOH,233591451241,CASH_IN,200,0,1964,1764,233548054905,KISSI TEDDY,66016708,23222456200,Cashin To-\n233548054905,Internal
2,31-Mar-2023,07:39:32,65223666,MAXWELL FOSU NYARKOH,233591451241,CASH_IN,30,0,1994,1964,233542482423,KELVIN APPIAH,71255668,23222206348,Cashin To-\n233542482423,Internal
3,31-Mar-2023,07:09:58,65223666,MAXWELL FOSU NYARKOH,233591451241,CASH_IN,110,0,2104,1994,233540590150,GIDEON ATIAH,72580914,23221272044,Cashin To-\n233540590150,Internal
4,31-Mar-2023,07:01:26,65223635,MAXWELL FOSU NYARKOH,233241435761,TRANSFER,200,0,1904,2104,233591451241,MAXWELL FOSU NYARKOH,65223666,23220963330,1,Internal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,28-Jan-2023,08:39:39,65223666,MAXWELL FOSU NYARKOH,233591451241,CASH_IN,26,0,522,497,233541403149,Elizabeth Dzoka,53878073,21745041950,Cashin To-\n233541403149,Internal
126,28-Jan-2023,08:39:06,0,,0,COMMISSIONING,1,0,236,237,233591451241,MAXWELL FOSU NYARKOH,65223666,21745031302,,Internal
127,28-Jan-2023,08:39:06,41861402,Rebecca Caro,233243931345,CASH_OUT,285,2.85,237,522,233591451241,MAXWELL FOSU NYARKOH,65223666,21745031302,NationalId--,Internal
128,28-Jan-2023,08:33:21,65223666,MAXWELL FOSU NYARKOH,233591451241,CASH_IN,454,0,691,237,233256519321,DORIS NIMAKO,69336653,21744920822,Cashin To-\n233256519321,Internal
129,28-Jan-2023,08:28:29,65223666,MAXWELL FOSU NYARKOH,233591451241,CASH_IN,202,0,893,691,233599835915,FAUSTINA NTORI,67458540,21744827791,Cashin To-\n233599835915,28-Jan-2023 11:10:46 AM\n0\n0\nCOMMISSIONING\n...

In [127]:
df3=momo_data.loc[momo_data['TRANS_TYPE'] == 'CASH_IN', 'FROM_NAME'].iloc[0]
df3

'MAXWELL FOSU NYARKOH'

In [128]:
momo_data =momo_data.dropna()

In [129]:
# store date as object for later use
mi = momo_data['TRANSACTION_DATE']

In [130]:
momo_data['TRANSACTION_DATE'] = pd.to_datetime(momo_data['TRANSACTION_DATE'])

In [131]:
## convert momo_data to csv
momo_data.to_csv(r'C:\Users\Chakdahah\Downloads\Django-main\Django-main\analytics_project\StrippedMomotoCSV200.csv',date_format='%d/%m/%Y')

momo_data.to_excel("StrippedMomotoXLS.xlsx")

In [132]:
# Set empty list and dict
masterData = []
userData= {}

# Calculation of scoring parameters

In [133]:

rows = momo_data.count()[0] # Agent Frequency of use
userData["freq_of_active"] = rows



MOMO=momo_data[(momo_data == 'CASH_IN').any(axis=1)] # frequency of rebalance
MOMOR = MOMO.count()[0]
userData["freq_of_repl"] = MOMOR



meadnie = momo_data.loc[momo_data['TRANS_TYPE']=='CASH_IN','AMOUNT'].median() #Median Cash-In for last 90days
# userData["mead_cash_in"] = meadnie
# userData["mead_cash_in"]
userData["mead_cash_in_calc"] = meadnie*4


modnie = momo_data.loc[momo_data['TRANS_TYPE']=='CASH_IN','AMOUNT'].mode() # Mode Cash-In for last 90 days
userData["modnie_cash_in_calc"] = modnie*4
userData["modnie_cash_in_calc"] = userData["modnie_cash_in_calc"]*4
userData["modnie_cash_in_calc"] = max(userData["modnie_cash_in_calc"])


meadniout = momo_data.loc[momo_data['TRANS_TYPE']=='CASH_OUT','AMOUNT'].median() # Median Cash-Out for last 90 days
# userData["mead_cash_out"] = meadniout
# userData["mead_cash_out"]
userData["mead_cash_out_calc"] = meadniout*4


modno = momo_data.loc[momo_data['TRANS_TYPE']=='CASH_OUT','AMOUNT'].mode() # Mode Cash-Out for last 90 days
userData["modno_cash_out_calc"] = modno*4 
userData["modno_cash_out_calc"] = userData["modno_cash_out_calc"]*4
userData["modno_cash_out_calc"] = max(userData["modno_cash_out_calc"])

# Scoring Criteria Calculation

In [134]:
user_copy = userData.copy()
masterData.append(user_copy)

In [135]:
### scoring

inelligible = []
elligible = []
score_table = []
scoring_table = {}

In [136]:
scoring_table["id Number"] = num
scoring_table["Agent Name"] = name

In [137]:


## Agent Length of Service - 3 months

for i in mi:
    u = mi.str.extract('([a-zA-Z ]+)', expand=False).str.strip()
    monthcount = u.drop_duplicates()
print(monthcount)

if len(monthcount)>=3:
    scoring_table["Length of Service"] = 100
    Credit_score = 100
else:
    scoring_table["Length of Service"] = 0
    Credit_score = 0


for index in range(len(masterData)):

    ## Frequency of use  >= 65 transactions(count) in total

    if masterData[index]["freq_of_active"]> 65 and masterData[index]["freq_of_active"] <= 75:
        user_copy = masterData[index]
#         print(user_copy)
        Credit_score += 50
        scoring_table["Frequency of Activity"] = 50
    elif masterData[index]["freq_of_active"]> 75:
        elig_copy = masterData[index]
        Credit_score+= 100
        scoring_table["Frequency of Activity"] = 100
    else:
        scoring_table["Frequency of Activity"] = 0


        

        
        
#Agent Frequency of rebalance - >= 45 inbound(count) in total

    if masterData[index]["freq_of_repl"]>= 45 and masterData[index]["freq_of_repl"] <= 54:
        user_copy = masterData[index]
        Credit_score += 50 
        scoring_table["Frequency of Rebalance"] = 50
    elif masterData[index]["freq_of_active"]> 54:
        elig_copy = masterData[index]
        Credit_score+= 100
        scoring_table["Frequency of Rebalance"] = 100
    else:
        scoring_table["Frequency of Rebalance"] = 0
        

        
        
        # Median Cash-In for last 90 days - avg. txn amnt - ghs5000 

        
    if masterData[index]["mead_cash_in_calc"] >= 5000:
        user_copy = masterData[index]
        Credit_score += 50
        scoring_table["Median Cash In"] = 50
    else:
        Credit_score+= 0
        scoring_table["Median Cash In"] = 0

        
        
          # Mode Cash-In for last 90 days - lowest amnt cash in - ghs1000 

        
    if masterData[index]["modnie_cash_in_calc"] >= 1000:
        user_copy = masterData[index]
        Credit_score += 50 
        scoring_table["Mode Cash In"] = 50
        
    else:
        elig_copy = masterData[index]
        Credit_score+= 0
        scoring_table["Mode Cash In"] = 0
        
        
        
       # Median Cash-Out for last 90 days - avg. txn amnt - ghs5000


    if masterData[index]["mead_cash_out_calc"] > 5000:
        user_copy = masterData[index]
        Credit_score += 50 
        scoring_table["Median Cash Out"] = 50
    else:
        elig_copy = masterData[index]
        Credit_score+= 0
        scoring_table["Median Cash Out"] = 0
        
#     Mode Cash-Out for last 90 days - lowest amnt cash out - ghs1000 
        
    if masterData[index]["modno_cash_out_calc"] >= 1000:
        user_copy = masterData[index]
        Credit_score += 50 
        scoring_table["Mode Cash Out"] = 50
    else:
        elig_copy = masterData[index]
        Credit_score+= 0   
        scoring_table["Mode Cash Out"]
    

#         print(elig_copy)
scoring_table["Credit Score"] = Credit_score
score_table.append(scoring_table)

0     Mar
61    Feb
91    Jan
Name: TRANSACTION_DATE, dtype: object

# Applying scores to Merchants

In [138]:
    
    if Credit_score >= 200 and Credit_score <= 250:
        print("You qualify for a GHS 1000 loan")
        scoring_table["Eligibility"] = 1000

    elif Credit_score >= 251 and Credit_score <= 350:
        print("You qualify for a GHS 2000 loan")
        scoring_table["Eligibility"] = 2000

    elif Credit_score >= 351 and Credit_score <= 400:
        print("You qualify for a GHS 3000 loan")
        scoring_table["Eligibility"] = 3000


    elif Credit_score >= 401 and Credit_score <= 500:
        print("You qualify for a GHS 5000 loan")
        scoring_table["Eligibility"] = 5000

You qualify for a GHS 3000 loan

In [139]:
elligible.append(elig_copy)

In [140]:
print("Elligible", elligible)

Elligible [{'freq_of_active': 125, 'freq_of_repl': 55, 'mead_cash_in_calc': 1010.0, 'modnie_cash_in_calc': 1616.0, 'mead_cash_out_calc': 780.0, 'modno_cash_out_calc': 1600.0}]

In [141]:
Credit_score

400

In [142]:
elligible

[{'freq_of_active': 125,
  'freq_of_repl': 55,
  'mead_cash_in_calc': 1010.0,
  'modnie_cash_in_calc': 1616.0,
  'mead_cash_out_calc': 780.0,
  'modno_cash_out_calc': 1600.0}]

In [143]:
type(elligible)

list

In [144]:
score_table = pd.DataFrame.from_dict(score_table)
score_table

,id Number,Agent Name,Length of Service,Frequency of Activity,Frequency of Rebalance,Median Cash In,Mode Cash In,Median Cash Out,Mode Cash Out,Credit Score,Eligibility
0,233591451241,MAXWELL FOSU NYARKOH,100,100,100,0,50,0,50,400,3000

In [145]:
score_table.to_csv(r'C:\Users\Chakdahah\Downloads\Django-main\Django-main\analytics_project\scoretable.csv')

In [146]:
### convert dict to df

elligible = pd.DataFrame.from_dict(elligible)
elligible

,freq_of_active,freq_of_repl,mead_cash_in_calc,modnie_cash_in_calc,mead_cash_out_calc,modno_cash_out_calc
0,125,55,1010,1616,780,1600

In [147]:
type(elligible)

pandas.core.frame.DataFrame

In [148]:
elligible.to_csv(r'C:\Users\Chakdahah\Downloads\Django-main\Django-main\analytics_project\elligible.csv')

# Score and risk grade table

In [149]:
details = {
    'Risk Ranking' : ['RR-1', 'RR-2', 'RR-3', 'RR-4'],
    'Minimum Score' : [200,251,351,401],
    'Maximum Score' : [250,350,400,500],
    'Qualifying Amount(GHS)':[1000,2000,3000,5000]
}
  
# creating a Dataframe object 
df = pd.DataFrame(details)
df

  Risk Ranking  Minimum Score  Maximum Score  Qualifying Amount(GHS)
0         RR-1            200            250                    1000
1         RR-2            251            350                    2000
2         RR-3            351            400                    3000
3         RR-4            401            500                    5000